#deals{

  .bg-strip{
    background: 
    linear-gradient(135deg, #202c38 21px, #000000 22px, #000000 24px, transparent 24px, transparent 67px, #000000 67px, #000000 69px, transparent 69px),
    linear-gradient(225deg, #202c38 21px, #000000 22px, #000000 24px, transparent 24px, transparent 67px, #000000 67px, #000000 69px, transparent 69px)0 64px;
    background-color:#202c38;
    background-size: 64px 128px;
  }

  .fw-bold{
    font-weight: 500;
  }
  .glow {
    color: #CFC547;
    text-align: center;
    text-shadow: 10px 10px 25px #766017, -10px 10px 25px #675417, -10px -10px 25px #685518, 10px -10px 25px #64531d;
  }

  .cursor-p{
    cursor: pointer;
  }
  @media screen and (min-width: 524px) {
    .straighten-count{
      transform: rotate(270deg);
    }
  }

  .fs-52{
    font-size: 52px;
    @media screen and (max-width: 524px) {
      font-size: 31px;
    }
  }

  .mt-mid{
    margin-top: 0.9rem;
  }

  .border-top-line{
    border-bottom: 1px solid rgba(146,145,149,1)!important;
  }
  .fs-40{
    font-size: 37px;
    @media screen and (max-width: 524px) {
      font-size: 21px;
    }
    @media screen and (max-width: 1024px) and (min-width: 768px) {
      font-size: 21px;
    }
  }

  .border-disp{
    border-radius:1.25rem;
    border: 2px solid;
    position: relative;

    &:after{
      content: " Get Plan ";
      font-weight: 600;
      color: black;
      position: absolute;
      border-radius:1.25rem;
      border: 2px solid #ecb43a !important;
      // border-image: linear-gradient(45deg,#ffd478,black) 10;;
      padding-top:  6px;
      padding-bottom: 6px;
      padding-right: 13px;
      padding-left: 13px;
      background-image: linear-gradient(to top right,#a57f2c,#ffd478 ,#a57f2c );
      bottom: -4px;
      z-index: 2;
      right: 50%;
      transform: translate(50%, 50%);
    }
  }

  .flip-clock-wrapper ul li a div div.inn {
    background-image: linear-gradient(to top right,#2E8D81, #244691,#2E8D81,#244691);
    color: white;
  }

  .mob-clock {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .blue-gradient{
    background-image: linear-gradient(to top right,#2E8D81, #244691,#244691);
  }
  
  .blue-gradient-reverse{
    background-image: linear-gradient(to top right,#244691,#2E8D81);
  }

  .blue-gradient-double{
    background-image: linear-gradient(to top right,#2E8D81, #244691,#2E8D81,#244691);
  }

  .object-contain{
    object-fit: contain;
  }

  .h-100-px{
    height: 350px;
  }

  .h-100-px2{
    height: 420px;
  }

  .rounded-2{
    border-radius: 2.25rem;
  }

  .exclusive-deals{
    .btn-s {
      animation: wiggle 2s linear infinite;
    }
    
    @keyframes wiggle {
      0%, 7% {
        transform: rotateZ(0);
      }
      15% {
        transform: rotateZ(-15deg);
      }
      20% {
        transform: rotateZ(10deg);
      }
      25% {
        transform: rotateZ(-10deg);
      }
      30% {
        transform: rotateZ(6deg);
      }
      35% {
        transform: rotateZ(-4deg);
      }
      40%, 100% {
        transform: rotateZ(0);
      }
    }
    
    .btn-s {
      position: absolute;
      left: calc(50% - 5em);
      top: calc(50% - 2em);
      height: 3em;
      width: 10em;
      background: #444;
      background: linear-gradient(top, #555, #333);
      border: none;
      border-top: 3px solid #fec343;
      border-radius: 0 0 0.2em 0.2em;
      color: #fff;
      font-family: Helvetica, Arial, Sans-serif;
      font-size: 1em;
      transform-origin: 50% 3em;

      @media screen and (max-width: 820px) and (min-width:768px){
        left: calc(50% - 3em);
        top: calc(50% - 2em);
        height: 2em;
        width: 6em;
      }
    }
  }
  .w-40{
    width: 40%
  }
  .progress-bar {
    background-color: black;
    background-image: linear-gradient(to top right, #2E8D81,#144341,#244691) !important;
  }

  .close{
    line-height: 0.7;
    color: white;
  }

  .form label {
    color: white;
  }

  .bg-done{
    background-image: linear-gradient(to top right,#2E8D81, #244691,#2E8D81,#244691) !important;
  }

  .o-btn:hover {
    background: #e8f0fe !important
  }

  .o-btn {
    border: 3px solid transparent !important;
    color: #265b79 !important;      
  }

  .modal-content{
    background-image: linear-gradient(to top right,#2E8D81, #144341,#001c5ac9) !important;
  }

  .securityInfo
  {
    ul{
      li {
       color: #979797; 
     }
    }
  } 

  .onoffswitch-inner:before {
    background-color: #58b459;
  }

  i{
    // display: inline-block;
    width: 30px;
    min-height: 0px;
    border: none ;
    background: transparent;
    box-shadow: none; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    -webkit-transition: border-width 0.1s, box-shadow 0.1s;
    -moz-transition: border-width 0.1s, box-shadow 0.1s;
    -o-transition: border-width 0.1s, box-shadow 0.1s;
    transition: border-width 0.1s, box-shadow 0.1s;
  }

  .fa-arrow-right-long{
    &::before {
      animation: a1 1.5s infinite linear;
    }
    @keyframes a1 {
      90%,100%{flex-grow: 1}
    }
    
  }

  .circle-p-1{
    background-color: black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    left: 4px;
    &::after{
      content: "1";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
  }

  .circle-p-2{
    background-color: black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    left: 50%;
    &::after{
      content: "2";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
  }

  .circle-p-3{
    background-color: black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    left: 100%;
    &::after{
      content: "3";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
  }

  .circle-p-4{
    background-color: black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    left: 100%;
    &::after{
      content: "4";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
  }
  
  .validate.error {
    color: red !important;
    font-size: 25px !important;
  }

  .form .error {
    color: red !important;
  }

  .deal-form-box h1 {
    text-align: center;
    font-size: 42px !important;
  }

  .neon-text{
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;

    animation: flicker 1.5s infinite alternate;  
    /* Flickering animation */
    @keyframes flicker {
      0%, 18%, 22%, 25%, 53%, 57%, 100% {
          text-shadow:
          0 0 4px #fff,
          0 0 11px #fff,
          0 0 19px #fff,
          0 0 40px #0fa,
          0 0 80px #0fa,
          0 0 90px #0fa,
          0 0 100px #0fa,
          0 0 150px #0fa;
      }
      20%, 24%, 55% {        
          text-shadow: none;
      }    
    }
  }

  #btn-back{
    background-color: white !important;
  }

  @media screen and (max-width: 912px) and (min-width: 580px){
    .col-mdm-6{
      flex: 0 0 50% !important;
      max-width: 50% !important;
    }
  }

  .rotate{
    transform: rotate(90deg);
    top: 267px;
    bottom: 0px;
    left: -166px;
    position: absolute;
    height: 0.2rem;
    width: 394px;

    @media screen and (max-width: 1280px) and (min-width: 768px) {
      .rotate {
        top: 335px;
      }
    }
    @media screen and (max-width: 540px) {
      transform: rotate(0deg);
      position: relative;
      top: 0px; 
      bottom: 0px; 
      left: 0px; 
      height: 0.2rem;
      width: 90%;

    }
  }

  .rotate-2{
    transform: rotate(90deg);
    top: 267px;
    bottom: 0px;
    left: -151px;
    position: absolute;
    height: 0.2rem;
    width: 394px;

    @media screen and (max-width: 1280px) and (min-width: 768px) {
      .rotate {
        top: 335px;
      }
    }

    @media screen and (max-width: 540px) {
      transform: rotate(0deg);
      position: relative;
      top: 113px;
      left: 0px;
      height: 0.2rem;
      width: 90%;
    }

    @media screen and (max-width: 375px) {
      position: relative;
      top: 113px;
      left: 20px !important;
      width: 80%;
    }
  }

  @media screen and (max-width: 920px) and (min-width: 768px) {
    .flip-clock-dot {
      left: -4px;
    }
  }

  @media screen and (max-width: 540px) {
    .flip-clock-divider .flip-clock-label {
      top: 5em;
    }
    .flip-clock-dot.top {
      top: 20px;
    }
    .flip-clock-dot.bottom {
      bottom: 43px;
    }
    .flip-clock-dot {
      left: -3px;
    }

    .flip-clock-wrapper ul {
      height: 65px;
    }
    .flip-clock-wrapper ul li{
      line-height: 64px;
    }
    .flip-clock-wrapper ul li a div div.inn{
      font-size: 50px;
    }
    .rotate-2{
      left: 20px !important;
      .circle-p-1{
        left: -5%;
        
      }
      .circle-p-2{
        left: 50%;

      }
      .circle-p-3{
        left: 103%;
      }
    }
  }



  @media screen and (max-width: 375px) {
    
    .circle-p-1{
      left: -5%;
      
    }
    .circle-p-2{
      left: 50%;

    }
    .circle-p-3{
      left: 103%;
    }
  }
}
