@media only screen and (max-width: 750px) {
  .sim-deal-only{
    h2{
      font-size: 18px !important;
    }
    .navbar-light{
      padding: 0px !important;
      img{
        width: 145px;
      }
    }
    .flip-clock-divider {
      height: 82px;
    }
    .flip-clock-wrapper {
      margin-bottom: 0rem;
    }
    .clock{
      padding: 5px;
    }
    .flip-clock-divider .flip-clock-label {
      top: 4.5em;
    }
    .flip-clock-wrapper ul {
      height: 63px;
      li{
        line-height: 63px;
        a{
          .inn{
            font-size: 51px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .sim-deal-only{
    h2{
      font-size: 16px !important;
    }
    .navbar-light{
      padding: 0px !important;
      img{
        width: 145px;
      }
    }
  }
}
