.success-page{
  i {
    display: inline-block;
    width: 30px;
    min-height: 30px;
    border: 15px #fff solid;
    background: transparent;
    box-shadow: 0 0 0 1px #DADADA;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: border-width 0.1s, box-shadow 0.1s;
    -moz-transition: border-width 0.1s, box-shadow 0.1s;
    -o-transition: border-width 0.1s, box-shadow 0.1s;
    transition: border-width 0.1s, box-shadow 0.1s;
    border-width: 5px;
  }
  .opicity-0{
    opacity: 0;
  }
  .green{
    background: #ade0cd;
  }
  .white{
    background: #fff;
  }
  .black{
    background: #212529;
  }
  input:checked ~ label i{
    width: 45px;
    min-height: 45px;
  }
  label{
    cursor: pointer;
  }
  .blue-bg{
    background-color: #00478b
  }
  .blue-text{
    color: #00478b
  }

}
