<!-- Below header section Flipclock -->
<section class="mb-3">
  <div class="below-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 d-flex flex-wrap">
          <h2 class="text-center">
            <span class="accepted">Get The Latest Smartphone Deals!</span>
            <br>
            <span class="approvel desktop">No upfront payments</span>
            <span class="approvel mobile">No upfront payments</span>
            <button class="btn btn-danger open-form w-100 d-none btn-b">Get Your Deal 
              <i class="far fa-arrow-alt-circle-right text-white pl-2"></i>
            </button>
          </h2>
          <div class="row d-flex justify-content-center w-100 desktop">
            <%= image_tag("phones-header.png", class: "pl-3" ) %>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 open-form">
          <div class="card card-body header-deal border-0 px-0">
            <div class="row mx-0">
              <%= image_tag("phone/iphonex.png", class: "image pl-3" ) %>
              <div class="text py-2">
                <h5 class="font-weight-bold pl-2">iPhone 11 Pro </h5>
                <div class="w-100"></div>
                <div class="detail-box mt-4">
                  <div class="row align-items-center">
                    <div class="pl-2 col text-center border-right">
                      <h6 class="font-weight-bold mb-0 mt-2 fs-24" >Unlimited</h6>
                      <span class="text-muted fs-14 font-weight-normal">
                        Data
                      </span>
                    </div>
                    <div class="pl-2 col text-center">
                      <h6 class="font-weight-bold mb-0 mt-2 fs-24">All Credit Scores Welcome</h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clock"></div>
            </div>
            <div class="row mt-2">
              <div class="col px-4">
                 <button class="btn btn-danger o-btn open-form  py-2 fs-24 w-100">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>