<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <div class="container">
    <a class="navbar-brand w-100 text-center" href="javascript:;">
      <h4 class="font-weight-bold m-0 py-3">Getmy<span class="text-pink">Phone</span></h4>
      <%#= image_tag("logo.png", class: "open-form w-195" ) %>
    </a>
  </div>
</nav>