<!-- Footer Section -->
<footer class="background-light border-top  pt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12 text-center">
         <p><a href=""> Cookie Policy</a></p>
        <p>
          Megamobiledeals.com is the property and trading style of Duke Leads - FZCO
        </p>
        <p>
          Registered: DSO-IFZA, Dubai Silicon Oasis, Dubai, UAE
        </p>
        <p>
        Licence Number 6245
        </p>
        <p>*Megamobiledeals.com does not perform a credit check but you may be asked to complete one if you apply for a mobile phone contract with our partners.</p>
      </div>
    </div>
  </div>
</footer>
