<!-- Below header section Flipclock -->
<% parameters = "&s2=#{params[:c1]}&s1=#{params[:source] || JSON(@details)["source"]}" %>

<section class="mb-3">
  <div class="below-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 d-flex flex-wrap">
          <h2 class="text-center">
            <span class="accepted">Get Accepted For The Latest Smartphone Deals!</span>
            <br>
            <span class="approvel desktop">100% approval | All Credit Scores Welcome | No upfront payments</span>
            <span class="approvel mobile">100% approval<br> All Credit Scores Welcome <br> No upfront payments</span>
            <button class="btn btn-danger open-form w-100 d-none btn-b">Get Your Deal
              <i class="far fa-arrow-alt-circle-right text-white pl-2"></i>
            </button>
          </h2>
          <div class="row d-flex justify-content-center w-100 desktop">
            <%= image_tag("phones-header.png", class: "pl-3" ) %>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 open-form" data-url="<%= "https://c1icktree.co.uk/go/?id=90" + parameters %>">
          <div class="card card-body header-deal border-0 px-0">
            <div class="row mx-0 justify-content-center">
              <%= image_tag("phone/iphone11.png", class: "image-phone-clock pl-3 pt-4" ) %>
              <div class="text py-2">
                <h5 class="font-weight-bold pl-2">iPhone 11 </h5>
                 <h6 class="font-weight-bold pl-2">All Credit Scores Welcome</h6>
                <div class="w-100"></div>
                <div class="detail-box mt-4">
                  <div class="row align-items-center">
                    <div class="pl-2 col text-center border-right pr-0 pr-md-3">
                      <h6 class="font-weight-bold mb-0 mt-2 fs-24" >Unlimited</h6>
                      <span class="text-muted fs-14 font-weight-bold">
                        Data, Minutes,Texts
                      </span>
                    </div>
                    <div class="pl-2 col text-center">
                      <h6 class="font-weight-bold mb-0 mt-2 fs-24">Free</h6>
                      <span class="text-muted fs-14 font-weight-bold">
                        Data Roaming, Personal Hotspot
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col px-4">
                 <button class="btn btn-danger o-btn open-form  py-2 fs-24 w-100">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
