<!-- header-->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
    <%= render 'layouts/header/header_logo' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav w-100 justify-content-around open-form">
        <%= render 'layouts/header/header_signup_offer' %>
        <li class="nav-item active">
          <a class="nav-link h4 mb-0" href="javascript:;">UK's Top Networks</a>
        </li> 
      </ul> 
    </div>
  </div>
</nav>
<!--End header -->