<body class="bg-white bg-img-non">
    <div class="bg-white header-youtube shadow-sm" data-details="<%= @details %>">
      <header class="container row w-100 m-0 align-items-center justify-content-md-around justify-content-between py-3">
        <%= image_tag("logo.png", class: "img-logo-mmd" ) %>
        <%= image_tag("review.png", class: "reviews-img") %>
      </header>    
    </div>
    <div class="p-md-5 pt-4 container">
      <div class="text-center">
        <p class="font-weight-bold h4">Duke Leads Ltd Cookie Policy</p>   
      </div>
      <div>
        <p>
          This website uses cookies.
        </p>
        <p>
          A cookie is a small text file that is downloaded to your computer that gives you a more personalised experience when using our website. They are not harmful and are not used to identify you personally.
        </p>
        <p>
          For example, a cookie can record certain information about a visitor to a website to tailor theiroptions for when they next visit.
        </p>
        <p>
          By continuing to use this website we at Duke Leads Ltd will assume that you are happy with our cookie policy and that we can place cookies on your computer device.
        </p>
        <p>
          Most internet browsers will allow you to turn off cookies if you wish, you should refer to the Help guide of your browser to learn how to do this. But please remember that disabling or blocking cookies may impact your ability to use websites and the services that they offer.
        </p>
        <p>
          Some tools you may find useful for working with cookies:
        </p>
        <ul class="overflow-hidden">
          <li>
            Google Analytics Opt-out Browser Add-on - <a href="">https://tools.google.com/dlpage/gaoptout</a>
          </li>
          <li>
            Your Online Choices - <a href="">http://www.youronlinechoices.com/uk/</a>
          </li>
        </ul>
        <p>
          To learn more about cookies visit
        </p>
        <ul>
          <li>
            All about Cookies - <a href="">http://www.allaboutcookies.org/</a>
          </li>
        </ul>
      </div>
      <div class="bg-light">
        <p class="font-weight-bold h4">Cookies we use</p>   
      </div>
      <div>
        <h5><u>Necessary Cookies</u></h5>
        <p>
          These help to make a website usable by enabling basic functions like page navigation and access to secure areas of the website. The website cannot function properly without these cookies:
        </p>
         <table class="table table-bordered table-responsive border-dark table-sm">
        <thead class="thead-light">
          <tr>
            <th>Cookie Name:</th>
            <th>Provider</th>
            <th>Purpose</th>
            <th>Type</th> 
            <th>Expiry</th> 
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              __cfduid  
            </td>
            <td>
              megamobiledeals.com  
            </td>
            <td>
              Used by the content network, Cloudflare, to identify trusted web traffic
            </td>
            <td>
              HTTP
            </td>
            <td>
              29 Days
            </td>
          </tr>
        </tbody>
      </table>
      <h5><u>Statistics Cookies</u></h5>
        <p>
         These help a website owner to understand how visitors interact with their website by collecting and reporting information anonymously:
        </p>
         <table class="table table-bordered table-responsive border-dark table-sm">
            <thead class="thead-light">
              <tr>
                <th>Cookie Name:</th>
                <th>Provider</th>
                <th>Purpose</th>
                <th>Type</th> 
                <th>Expiry</th> 
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  _ga
                </td>
                <td>
                  megamobiledeals.com  
                </td>
                <td>
                  Registers a unique ID that is used to generate statistical data on how the visitor uses the website
                </td>
                <td>
                  HTTP
                </td>
                <td>
                  2 Years
                </td>
              </tr>
              <tr>
                <td>
                  _gat
                </td>
                <td>
                  megamobiledeals.com  
                </td>
                <td>
                  Used by Google Analytics to throttle request rate
                </td>
                <td>
                  HTTP
                </td>
                <td>
                  1 Day
                </td>
              </tr>
              <tr>
                <td>
                  _gid
                </td>
                <td>
                  megamobiledeals.com  
                </td>
                <td>
                  Registers a unique ID that is used to generate statistical data on how the visitor uses the website.
                </td>
                <td>
                  HTTP
                </td>
                <td>
                  1 Day
                </td>
              </tr>
              <tr>
                <td>
                  collect
                </td>
                <td>
                  google-analytics.com  
                </td>
                <td>
                  Used to send data to Google Analytics about the visitor's device and behavior. Tracks the visitor across devices and marketing channels
                </td>
                <td>
                  Pixel
                </td>
                <td>
                  Session
                </td>
              </tr>
            </tbody>
      </table>
      <h5><u>Marketing Cookies</u></h5>
        <p>
          These are used to track visitors to a website with the intention or displaying advertisements that are relevant to the user, these may include cookies set and collected by our third-party advertisers or providers:
        </p>
         <table class="table table-bordered table-responsive border-dark table-sm">
            <thead class="thead-light">
              <tr>
                <th>Cookie Name:</th>
                <th>Provider</th>
                <th>Purpose</th>
                <th>Type</th> 
                <th>Expiry</th> 
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  _fbp
                </td>
                <td>
                  megamobiledeals.com  
                </td>
                <td>
                  Used by Facebook to deliver a series of advertisement products such as real time bidding from third party
                </td>
                <td>
                  HTTP
                </td>
                <td>
                  3 Months
                </td>
              </tr>
              <tr>
                <td>
                  _schn
                </td>
                <td>
                  megamobiledeals.com  
                </td>
                <td>
                  Tracks the individual sessions on the website, allowing the website to compile statistical datafrom multiple visits. This data can also be usedto create leads for marketing purposes.
                </td>
                <td>
                  HTTP
                </td>
                <td>
                  Session
                </td>
              </tr>
              <tr>
                <td>
                  _scid
                </td>
                <td>
                  megamobiledeals.com  
                </td>
                <td>
                  Sets a unique ID for the visitor, that allows third party advertisers to target the visitor with relevant advertisement. This pairing service is provided by third party advertisement hubs, which facilitates real-time bidding for advertisers.
                </td>
                <td>
                  HTTP
                </td>
                <td>
                  13 Months
                </td>
              </tr>
              <tr>
                <td>
                  ads/ga-audiences
                </td>
                <td>
                  google.com  
                </td>
                <td>
                  Used by Google AdWords to re-engage visitorsthat are likely to convert to customers based on the visitor's on line behaviour across websites.
                </td>
                <td>
                  Pixel
                </td>
                <td>
                  Session
                </td>
              </tr>
              <tr>
                <td>
                  MUID
                </td>
                <td>
                  bing.com  
                </td>
                <td>
                  Used widely by Microsoft as a unique user ID. The cookie enables user tracking by synchronising the ID across many Microsoft domain s.
                </td>
                <td>
                  HTTP
                </td>
                <td>
                  1 Year
                </td>
              </tr>
              <tr>
                <td>
                  sc_at
                </td>
                <td>
                  snapchat.com  
                </td>
                <td>
                  Used by Snapchat to implement advertisement content on the website - The cookie detects the efficiency of the ads and collects visitor data for further visitor segmentation .
                </td>
                <td>
                  HTTP
                </td>
                <td>
                  1 Year
                </td>
              </tr>
              <tr>
                <td>
                  tr
                </td>
                <td>
                  facebook.com  
                </td>
                <td>
                  Used by Facebook to deliver a series of advertisement products such as real time bidding from third party advertisers.
                </td>
                <td>
                  Pixel
                </td>
                <td>
                  Session
                </td>
              </tr>
              <tr>
                <td>
                  fr
                </td>
                <td>
                  facebook.com  
                </td>
                <td>
                  Used by Facebook to deliver a series of advertisement products such as real time bidding from third party advertiser
                </td>
                <td>
                  HTTP
                </td>
                <td>
                  3 Months
                </td>
              </tr>
            </tbody>
      </table>
      </div>  
    </div>
  <%= render 'layouts/footer/footer_cookies_policy' %>
</body>