<%= javascript_pack_tag 'common', 'data-turbolinks-track': 'reload', defer: true %>
<%= render 'layouts/sp-exit/header' %>
<div class="bg-img-success">
  <div class="container">
    <div class="row w-100 mx-0 pt-4 pt-md-5">
      <div class="col-md-8 mx-auto text-center">
        <div class="bg-white shadow rounded-lg py-5 px-md-4 px-2">
          <i class="fs-185 text-success fa fa-check-circle"></i>
          <h1 class="fs-md-36 fs-60 text-secondary pt-3">Thank You</h1>
          <h5 class="fs-md-17 text-secondary text-decoration-none">We have found you a deal from O2 and EE, one of them will be in touch shortly.</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/common/footer' %>
