<p class="small mb-0">
  By clicking accept, I agree to be contacted by MegaMobileDeals and its mobile
   <%= render 'layouts/common/tooltip_partners_step_form'%>
  via phone, SMS & email
</p>
<p class="small mb-0">By clicking continue I confirm that I have read the <a href="javascript:;" class="text-decoration-none term-text">Terms and conditions</a> and <a href="javascript:;" class="text-decoration-none privacy-text">Privacy Policy</a></p>
<%= render 'layouts/common/popup-terms'%>
<%= render 'layouts/common/popup-privacy'%>