<p class="text-center">
  By clicking accept, I agree to be contacted by MegaMobileDeals and its mobile
   <%= render 'layouts/common/tooltip_partners_step_form'%>
  via phone, SMS & email in accordance with these
  <a href="https://deals.megamobiledeals.com/terms-and-conditions/">Terms and conditions</a>.
</p>
