<p class="small mb-0">
  By clicking accept, I agree to be contacted by Switch-Mobile and its <a href="javascript:;" class="partner-text text-decoration-none">Partners</a> via phone, SMS & email
</p>
 <%= render 'layouts/common/tooltip_partners_step_form'%>
<p class="small mb-0">By clicking continue I confirm that I have read the <a href="javascript:;" class="text-decoration-none term-text">Terms and conditions</a> and <a href="javascript:;" class="text-decoration-none privacy-text">Privacy Policy</a></p>
<%= render 'layouts/common/popup-terms'%>
<%= render 'layouts/common/popup-privacy'%>
