<div class="cookie-consent position-fixed col-md-6 col-lg-4 col-10 d-none">
  <div class="bg-white text-center shadow-lg rounded p-3 border">
    <div>
      <p class="m-0 mb-2">
        We use cookies/personal data for personalized advertising & to ensure our website works properly. Read our <a href="/cookie-policy">Cookie Policy</a> & accept for the best experience.
      </p>
    </div>
    <div class="p-0 pt-1 border-0 justify-content-center">
      <button type="button" class="btn btn-no rounded-circle text-white reject-cookie position-absolute"><i class="fa fa-times"></i></button>
      <button type="button" class="btn btn-accept px-5 accept-cooky">Accept</button>
    </div>
  </div>
</div>
