<!-- Footer Section -->
<footer class="background-light pt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12 text-center">
         <p><a href="https://deals.megamobiledeals.com/privacy-policy" class="mx-md-2"> Privacy Policy </a> | <a href="https://deals.megamobiledeals.com/cookie-policy" class="mx-md-2"> Cookie Policy</a> | <a href="https://deals.megamobiledeals.com/terms-and-conditions/" class="mx-md-2">Terms and conditions</a> | <a href="https://blog.megamobiledeals.com/" class="mx-md-2">Blog</a></p>
        <p>
          Megamobiledeals.com is the property and trading style of Duke Leads Ltd              
        </p>
        <p>
          Registered: International House, 24 Holborn Viaduct, London, United Kingdom, EC1A 2BN.
        </p>
        <p>
        Company Number 10853728.
        </p>
        <p>Information Commissioner’s Office (ICO) registration number ZA278291.</p>
        <p>*Megamobiledeals.com does not perform a credit check but you may be asked to complete one if you apply for a mobile phone contract with our partners.</p>
      </div>
    </div>
  </div>
</footer>