<!--Modal Section-->
<div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
  <div class="modal-content p-0">
    <div class="modal-body p-0">
      <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="row">
        <div class="col-md-6 success-banner">
          <%= image_tag("loader.gif") %>
          <h4>Searching For More Deals….</h4>
        </div>
        <div class="col-md-6 p-0 success-inner">
          <div class="top-bg text-center">
           <div class="loader">
            <%= image_tag("loader.gif") %>
            <h4>Searching For More Deals….</h4>
           </div>
          </div>
          <div class="bottom-bg p-2">
            <h2>Success!</h2>
            <p>We have successfully found you a deal with 02, they will be in touch shortly, be sure to answer your phone to get the offer locked in</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>