<% data_share_domains.each do |domain| %>
  <div class="google analaytics">
    <iframe src="<%= domain %>/data_share?user_id=<%= @cookie_uuid %>" title="<%= domain %>" id="<%= domain %>" style="display: none;"></iframe>
  </div>
<% end %>
