<a href="javascript:;" class="" data-toggle="tooltip" data-placement="right" title=
  "O2,  EE limited, Vodafone, Mobile Deal, Loanable, Voxi, Monetise Media, Bill Buddy, Utilita, Lead 365, Scores Matter, Bill Switchers, Sunshine Mobile, Experian, Flex Mobile Limited, Flexible group limited, Go groupie, Breeze Mobile, Get A Loan Today, Help to clear my debt, Sky">
  Partners
</a>
