<a href="javascript:;" class="" data-toggle="tooltip" data-placement="right" title=
  "02, EE Limited, Vodafone, Mobile Deal, Hutchinson 3, Duke leads, Loanable, 123 casino, Voxi, Monetise Media, Bill Buddy, Utilita, Lead365, Megamobiles, Scores Matter, Bill Switchers, Sunshine mobile, Experian, Endsleigh, Flex Mobile Limited, Flexible Group Limited, Go Groupie, Mega Mobile, Hatchster Ltd, Debt Doctor">
  Partners
</a>
