<a href="javascript:;" class="" data-toggle="tooltip" data-placement="right" title=
  "02, EE Limited, Vodafone, Hutchinson 3, Duke leads, Loanable, 123 casino, Voxi, Captain Quid, Monetise Media, Bill Buddy, Utilita, Octopus Energy & Lead365, Scores Matter ,UK Credit Ratings,Credit Knowledge, Credit Perfect, Check My File, Sunshine mobile">
  Partners
</a>