<div id="loaderPopup" class="overlay">
  <div class="overlay-content">
    <div class="container px-md-3 px-0 h-100">
      <div class="row w-100 m-0 align-items-center mt-3 mt-xl-0 h-100">
        <div class="col-xl-6">
          <h3 class="my-2 fs-md-23">PLEASE DO NOT REFRESH OR CLOSE YOUR BROWSER</h3>
          <p>Comparing prices and plans from the top networks. This can take up to 20 seconds</p>
          <marquee behavior="scroll" direction="left">
            <%= render 'layouts/common/waiting_logos' %>
          </marquee>
        </div>
        <div class="col-xl-6 px-0">
          <%= image_tag("waiting.gif", class: "maxw-100") %>
        </div>
      </div>
    </div>
    <div class="bg-greenf footer">
      <div class="container">
      <h5 class="w-100 mx-auto mb-0">YOU WILL BE REDIRECTED TO A NEW WEBSITE  WHEN WE HAVE FOUND THE BEST DEAL FOR YOU</h5>
      </div>
    </div>
  </div>
</div>
