<div id="loaderPopup" class="overlay">
  <div class="overlay-content">
    <div class="container">
      <h3>Please stay on this page</h3>
      <h4 class="my-2">WE ARE FETCHING BEST DEALS FOR YOU</h4>
      <%= image_tag("clock_animation.gif") %>
      <p>THIS PROCESS COULD TAKE A 20 SECONDS</p>
      <p class="mt-1">PLEASE DO NOT REFRESH OR CLOSE YOUR BROWSER</p>
    </div>
    <div class="bg-warning footer mt-3">
      <div class="container">
      <h6 class="w-75 mx-auto">YOU WILL BE REDIRECTED TO A NEW WEBSITE ONCE WE FIND BEST DEALS FOR YOU</h6>
      </div>
    </div>
  </div>
</div>
