<section class="mb-md-3 banner-div">
    <div class="container m-md-0">
      <a class="submit-mmd-form text-decoration-none text-reset" href='http://mtrk5.co.uk/?a=14118&c=37733&p=r'>
        <div class="row">
          <div class="col-md-7 pb-md-0 pb-3">
            <div class="card card-body header-deal border-0 px-0 mt-md-3 mb-md-3">
              <div class="promotion subbtn ">Get Deal Now</div>
              <div class="row mx-0 justify-content-center">
                <%= image_tag("new_mmd/iphone11-pro-max.jpg", class: "image-chead pl-3" ) %>
                <div class="text py-2">
                  <h5 class="font-weight-bold pl-2">iPhone 11 Pro Max </h5>
                  <div class="w-100"></div>
                  <div class="detail-box mt-4">
                    <div class="row align-items-center">
                      <div class="pl-2 col text-center border-right">
                        <h6 class="font-weight-bold mb-0 mt-2 fs-24" >Unlimited</h6>
                        <span class="text-muted fs-14 font-weight-normal">
                          Data
                        </span>
                      </div>
                      <div class="pl-2 col text-center">
                        <h6 class="font-weight-bold mb-0 mt-2 fs-24">All Credit Scores Welcome</h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clock"></div>
              </div>
              <div class="row mt-2">
                <div class="col px-4">
                  <button class="btn btn-danger subbtn o-btn py-2 fs-24 w-100">Continue</button>
                  <p class="text-center mt-4 text-decoration-none text-reset px-md-5 mx-md-2">
                    By clicking accept, I agree to be contacted by MegaMobileDeals and its mobile
                    <%= render 'layouts/common/tooltip_partners_step_form'%>
                      via phone, SMS & email in accordance with these
                    <a href="https://deals.megamobiledeals.com/terms-and-conditions/">Terms and conditions
                    </a>.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
</section>
