<nav class="navbar navbar-expand-lg navbar-light bg-white shadow">
  <div class="container">
    <%= render 'layouts/header/header_logo' %>
    <button class="navbar-toggler btn-toggl" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav w-100 justify-content-around open-form">
        <%= render 'layouts/header/header_signup_offer' %>
        <%= render 'layouts/header/header_all_creditscores' %>
        <%= render 'layouts/header/header_review' %>
      </ul> 
    </div>
  </div>
</nav>
<div class="bg-white border-top w-100">
  <div class="container">
    <div class="row py-4 align-items-center justify-content-center">
      <p class="mb-0 h4 font-weight-bold text-orange text-center">You've been declined for a loan today, But you're eligible for a new phone, guaranteed acceptance. </p>
    </div>
  </div>
</div>