<div class="container banner pt-5">
  <div class="row mx-0 align-items-center justify-content-between">
    <div class="col-md-6">
      <h1 class=" fw-bold my-5 fs-52 neon-text text-uppercase">Switch Monday sales is <span class="text-warning fw-bold">  upto 70% on! </span></h1>
    </div>
    <div class="col-md-6">
      <div class="clock "></div>
    </div>
  </div>
</div>