<section class="pt-4 pb-5 bg-light">
  <div class="container">
    <div class="row p-md-5 px-2 py-4 w-100 mx-0 bg-white shadow-custom">
      <div class="col-12">
        <h5 class="text-blue text-uppercase mb-3">
          WHAT IS SIM ONLY?
        </h5>
        <p class="mb-0">
          Already got the latest handset or happy with your current phone? Then SIM only is perfect for you. Just decide on the right level of data and talk time minutes you require, then sit back and enjoy huge savings over the contract period with the option to keep your existing number. Plus you have the option to stream your favourite on demand entertainment and sports, including subscription offers and discounts from the likes of Apple Music, Amazon Prime & BT Sport.
        </p>
      </div>
    </div>
  </div>
</section>
