<section class="bg-light py-4">
  <div class="container">
    <div class="row p-md-4 py-4 px-2 mx-0 w-100 bg-white shadow-custom">
      <div class="col-12 pb-4">
        <h3 class="text-center mb-0 text-blue">Why Choose Switch Mobile</h3>
      </div>
      <div class="col-md-4 col-12 d-flex py-4 text-center text-md-left">
        <div class="service position-relative pb-5">
          <div class="service-icon mx-auto mx-md-0 p-3 mb-2 rounded-circle bg-gradient d-flex justify-content-center align-items-center">
            <%= image_tag('mobile-phone.png', class: 'w-100 h-100') %>
          </div>
          <div class="service-title mb-3">
            <h6 class="text-uppercase text-blue pt-1">BEST CONTRACT DEALS</h6>
          </div>
          <div class="service-description fs-14">
            Even if you’ve had a declined credit application in the past or have a less than perfect credit rating, don’t worry! We have partnered with all of the leading mobile networks to get you accepted on a deal that’s right for you.
          </div>
          <div class="service-button position-absolute">
            <button onClick="document.getElementById('banner-section').scrollIntoView();"  class="shadow fw-500 btn w-100 bg-blue text-uppercase rounded-pill text-white btn-sm px-3">
              Apply Now
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 d-flex py-4 text-center text-md-left">
        <div class="service position-relative pb-5">
          <div class="service-icon mx-auto mx-md-0 p-3 mb-2 rounded-circle bg-gradient d-flex justify-content-center align-items-center">
            <%= image_tag('tag.png', class: 'w-100 h-100') %>
          </div>
          <div class="service-title mb-3">
            <h6 class="text-uppercase text-blue pt-1">FLEXIBLE CONTRACTS</h6>
          </div>
          <div class="service-description fs-14">
            A Poor Credit history doesn’t mean you can’t get the latest mobile device that you want! We offer a variety of mobile contracts to meet your specific needs as well as SIM only contract plansgiving you freedom and flexibility. Join the thousands of satisfied customers we’ve helped to finda great deal at a great price regardless of their credit past.
          </div>
          <div class="service-button position-absolute">
            <button onClick="document.getElementById('banner-section').scrollIntoView();"  class="shadow fw-500 btn w-100 bg-blue text-uppercase rounded-pill text-white btn-sm px-3">
              Apply Now
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 d-flex py-4 text-center text-md-left">
        <div class="service position-relative pb-5">
          <div class="service-icon mx-auto mx-md-0 p-3 mb-2 rounded-circle bg-gradient d-flex justify-content-center align-items-center">
            <%= image_tag('gift-box.png', class: 'w-100 h-100') %>
          </div>
          <div class="service-title mb-3">
            <h6 class="text-uppercase text-blue pt-1">SECURE YOUR IDEAL MOBILE DEAL</h6>
          </div>
          <div class="service-description fs-14">
            At Switch Mobile UK our service is completely free, we help you to find the best deals on the latest smartphones and SIM only monthly contract plans from all of the leading networks. Whether you simply want a better deal on your SIM contract package or are looking to get hold of the newest handset.
          </div>
          <div class="service-button position-absolute">
            <button onClick="document.getElementById('banner-section').scrollIntoView();"  class="shadow fw-500 btn w-100 bg-blue text-uppercase rounded-pill text-white btn-sm px-3">
              Apply Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
