<section class="p-md-5 py-md-5 py-4 px-3" id="services-section">
  <div class="wrapper">
    <div class="row px-0 py-3 mx-0 w-10 justify-content-around">
      <div class="col-12 text-center mb-3">
        <h3 class="fw-bold">How it works</h3>
      </div>
      <div class="col-md-4 col-12 my-md-3 p-3" >
        <div class="h-100 featured-box shadow rounded-lg p-3">
          <div class="featured-inner p-4 border h-100 position-relative">
            <div class="featured-box-border border position-absolute"></div>
            <div class="featured-title mb-3">
              <h6 class="text-uppercase fw-bold mb-0 text-purple">BEST CONTRACT DEALS</h6>
            </div>
            <div class="featured-description fs-14">
              <p class="mb-0">
                Even if you’ve had a declined credit application in the past or have a less than perfect credit rating, don’t worry! We have partnered with all of the leading mobile networks to get you accepted on a deal that’s right for you.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 my-md-3 p-3" >
        <div class="h-100 featured-box shadow rounded-lg p-3">
          <div class="featured-inner p-4 border h-100 position-relative">
            <div class="featured-box-border border position-absolute"></div>
            <div class="featurd-title mb-3">
              <h6 class="text-uppercase fw-bold mb-0 text-purple">FLEXIBLE CONTRACTS</h6>
            </div>
            <div class="featured-description fs-14">
              <p class="mb-0">
                A Poor Credit history doesn’t mean you can’t get the latest mobile device that you want! We offer a variety of mobile contracts to meet your specific needs as well as SIM only contract plansgiving you freedom and flexibility.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 my-md-3 p-3" >
        <div class="h-100 featured-box shadow rounded-lg p-3">
          <div class="featured-inner p-4 border h-100 position-relative">
            <div class="featured-box-border border position-absolute"></div>
            <div class="featurd-title mb-3">
              <h6 class="text-uppercase fw-bold mb-0 text-purple">SECURE YOUR IDEAL DEAL</h6>
            </div>
            <div class="featured-description fs-14">
              <p class="mb-0">
                At Switch Mobile UK our service is completely free, we help you to find the best deals on the latest smartphones and SIM only monthly contract plans from all of the leading networks. Whether you simply want a better deal on your SIM contract package.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
