<div id="banner">
  <div class="wrapper">
    <div class="banner-head py-4">
      <h2 class="col-md-7 mx-auto text-center text-uppercase fs-sm-20">COMPARE MOBILE DEALS & GET THE BEST OFFER FOR YOU</h2>
    </div>
  </div>
  <div class="banner-content">
    <div class="wrapper">
      <div class="row p-0 mx-0 w-100">
        <div class="col-md-6 align-self-center">
          <div class="p-4 d-flex align-items-center justify-content-center">
            <div class="text-box p-2 banner-text position-relative">
              <span class="position-absolute mb-0 text-uppercase upper-text">Wide Range of</span>
              <h2 class="m-4 text-uppercase text-center">MOBILE PHONES!</h2>
              <span class="position-absolute mb-0 lower-text">Latest Smartphones, No Upfront Cost</span>
            </div>
          </div>
          <div class="text-center mb-md-0 mb-4">
            <button class="btn rounded-0 fw-500 px-4 py-3 border border-dark btn-round open-form">GET OFFER NOW!</button>
          </div>
        </div>
        <div class="col-md-6 p-0">
          <div class="banner-image d-flex align-items-end justify-content-center">
            <%= image_tag('bg-social-removebg.png') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
