<div id="usp-section">
  <div class="wrapper">
    <div class="row p-0 mx-0 w-100 py-5">
      <div class="col-md-6 px-lg-5 px-3">
        <h4 class="text-center mb-md-5 mb-3">Why Compare Mobile Offers With Swith Mobile?</h4>
        <ul class="list-unstyled ml-md-5">
          <li class="fs-15 mb-2 d-flex"><i class="far fa-check-square mr-3 mt-1"></i>Access exclusive mobile deals</li>
          <li class="fs-15 mb-2 d-flex"><i class="far fa-check-square mr-3 mt-1"></i>Save on pay monthly contracts</li>
          <li class="fs-15 mb-2 d-flex"><i class="far fa-check-square mr-3 mt-1"></i>All credit profiles accepted for mobile deals</li>
          <li class="fs-15 mb-2 d-flex"><i class="far fa-check-square mr-3 mt-1"></i>First class hassle free customer service</li>
        </ul>
      </div>
      <div class="col-md-6 px-lg-5 px-3 pt-4 pt-md-0">
        <div class="text-center mb-md-5 mb-3">
          <h4>Happy With Your Smartphone? <br> Explore Our SIM Only Deals</h4>
        </div>
        <ul class="list-unstyled ml-md-5">
          <li class="fs-15 mb-2 d-flex"><i class="far fa-check-square mr-3 mt-1"></i>Reduce your monthly bill amount</li>
          <li class="fs-15 mb-2 d-flex"><i class="far fa-check-square mr-3 mt-1"></i>Get an additional line or keep your current mobile number</li>
          <li class="fs-15 mb-2 d-flex"><i class="far fa-check-square mr-3 mt-1"></i>Choose the right mobile network for you</li>
          <li class="fs-15 mb-2 d-flex"><i class="far fa-check-square mr-3 mt-1"></i>Access to over 300 SIM only deals </li>
        </ul>
      </div>
    </div>
  </div>
</div>
