
.below-header {
  z-index: 2;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background: linear-gradient(to bottom, #007ea5, #99e2ff);
  overflow: hidden;
  min-height: 535px;
  .accepted {
	  color: #2b417f;
	  font-family: 'Prompt', sans-serif ;
	  font-weight: 600;
	  font-size: 2.3rem;
	}
	.approvel {
	  font-weight: 600;
	  line-height: 1.3;
	  font-size: 29px;
	}
  .font-stencil{
    font-family: 'Stardos Stencil', cursive !important;
  }
  .fs-100{
    font-size: 100px;
  }
  .fs-200{
    font-size: 245px;
  }
  .font-stancil-reg{
    font-family: 'stencil-std', sans-serif !important;
    font-weight: 400;
    font-style: normal;
  }
  .font-hind-siliguri{
    font-family: 'Hind Siliguri', sans-serif !important;
  }
  .font-Playfair{
    font-family: 'Playfair Display', serif !important;
  }
  .font-Nunito{
    font-family: 'Nunito', sans-serif !important;
  }
  .font-Dosis{
    font-family: 'Dosis', sans-serif !important;
  }
  .btn-orange{
    box-shadow: 1px 19px 7px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffbc00;
    width: 62%;
    font-size: 33px;
    border-radius: 50px;
    color: white !important;
  }
  .light-gradient{
    box-shadow: 1px 24px 7px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(to bottom, #f6f6f6, #99e2ff);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 5px;
  }
  .text-shadow{
    text-shadow: 0px 4px 10px #929292;
  }
  .text-blu{
    color: #00367C !important;
  }
  .text-orng{
    color: #9734bb !important;
  }
  .lh-30{
    line-height: 20px;
  }
  .img-div-svg{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
  }
  .border-font {
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fadf33;
  }
  .border-font-light {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fadf33;
  }
  .gradient-bg{
    position: relative;
    border: 0.1px solid #a78de6;
    box-shadow: 1px 24px 7px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(to bottom right, #015c99, #b021c0);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 5px;
  }
  .overly-text{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    opacity: 0.1;
    top: 11%;
  }
	.btn-b {
    cursor: pointer;
    width: 85% !important;
    margin: 0 5%;
    padding: 10px 0px;
    font-size: 25px;
    background-color: #2b417f;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    border: 0px solid #fff;
    border-radius: 5px;
    margin: 1rem auto;
  }
	.text {
	  flex: 1 1 auto;
	}
}
.bg-light-clr{
  background-color: #ffffffcf !important;
}
.form-width{
  width: 75%;
}
.image {
  width: 95px;
  object-fit: contain;
  align-self: flex-start;
}
.image-phone-clock{
  max-width: 130px;
  max-height: 190px;
}
.img-head-clock{
  max-width: 150px !important;
}
.iphone-deal{
  max-width: 100%;
  max-height: 180px;
}

/*Clock*/
  .clock {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .flip-clock-wrapper ul li a div div.inn {
    background-color: #aba1f8;
    color: white;
  }
  .flip-clock-divider {
    .flip-clock-label {
      font-size: 1rem;
      font-weight: 600;
      top: 6.5em;
      right: -6rem !important;
      color: white;
    }
  }
  .flip-clock-dot{
    background: white;
  }
  /*End*/

  .sims-img {
    height: 254px;
  }
  .sale-img{
    top: -22px;
    right: -21%;
    transform: rotate(45deg);
    width: 45%;
  }
  .img-smatphone{
    width: 79%;
  }
  .img-sale-div{
    left: 38%;
  }
  .img-sale{
    width: 65%;
  }
  .header-text-div{
    background-color: #6f42c1 !important;
    bottom: 0;
  }
  .btn-yellow{
    background-color: #fee50a !important;
    color: #6f42c1 !important;
    border: 2px solid #fee50a !important;
  }
  .btn-yellow:hover{
    background-color: #6f42c1 !important;
    color: #fee50a !important;
  }
  .text-purple{
    color: #6f42c1 !important;
  }
@media only screen and (max-width: 1280px) {
  .img-sale{
    width: 65%;
  }
}
@media only screen and (max-width: 1024px) {
  .fs-18 {
    font-size: 16px !important;
  }
  .sale-img{
    right: -17%;
  }
  .img-sale{
    width: 72%;
  }
}

@media only screen and (max-width: 912px) {
  .overly-text{
    top: 14% !important;
  }
  .fs-100 {
    font-size: 73px !important;
  }
  .fs-200 {
    font-size: 170px !important;
  }
  .fs-50{
    font-size: 37px !important;
  }
  .img-div-svg{
    top: -34px !important;
  }
  .img-smatphone{
    width: 80%;
  }
  .fs-xlg{
    font-size: x-large !important;
  }
  .btn-orange{
    width: 80% !important;  
  }
}

@media only screen and (max-width: 768px) {
  .fs-lg-22{
    font-size: auto !important;
  }
  .img-sale-div{
    left: 46%;
  }
  .img-sale{
    width: 19%;
  }
  .below-header {
    background-position: left !important;
    min-height: 468px;
  }
  .form-width{
    width: 100%;
  }
  .btn-yellow{
    font-size: 12px !important;
  }
  .img-sale{
    width: 61%;
  }
  .img-smatphone{
    width: 80%;
  }
  .header-text-div{
    position: relative;
  }
  .image {
    width: 8rem;
    margin: 0 auto;
  }
  .text {
    text-align: center;
  }
  .accepted {
    font-size: 32px !important;
  }
  .approvel {
    font-size: 18px !important;
    text-align: center;
    padding: 5px 0 !important;
    text-align: center;
    font-weight: 500;
    line-height: 2.1;
  }
  .flip-clock-wrapper {
    width: 98%;
    margin: 2rem auto;
    margin-top: 0rem;
  }
  .flip-clock-dot {
    width: 7px;
    height: 7px;
    left: -4px;
  }
  .flip-clock-divider {
    .flip-clock-label {
      right: -5rem !important;
    }
  }
  .sale-img {
    top: -68px;
    right: -27px;
    transform: rotate(0deg);
    width: 64%;
  }

}
@media only screen and (max-width: 540px) {
  .w-sm-80{
    width: 76% !important;
  }
  .img-div-svg{
    top: -83px !important;
  }
  .btn-orange{
    width: 75% !important;  
  }
  .border-font {
    -webkit-text-stroke-width: 2px !important;
  }
  .border-font-light {
    -webkit-text-stroke-width: 1px !important;
  }
  .fs-sm-9{
    font-size: 16px !important;
  }
  .fs-sm-27{
    font-size: 47px !important;
  }
  .fs-sm-19{
    font-size: 27px !important;
  }
  .overly-text{
    top: 17% !important;
  }
  .fs-100{
    font-size: 89px !important;
  }
  .fs-200{
    font-size: 200px !important;
  }
  .form-width{
    width: 100%;
  }
  .below-header {
    background-position: left !important;
  }
  .img-sale-div{
    left: 38%;
  }
  .img-sale{
    width: 60%;
  }
  .img-smatphone{
    width: 61% !important;
  }
  .header-text-div{
    position: relative;
  }
  .fs-sm-30{
    font-size: 30px !important;
  }
  .sale-img {
    top: -30px;
    right: -5px;
    transform: rotate(9deg);
    width: 35%;
  }
  .snow-btm-img{
    height: 6% !important;
  }
}
@media only screen and (max-width: 520px) {
  .img-div-svg{
    top: -60px !important;
  }
  .w-sm-80{
    width: 80% !important;
  }
  .fs-sm-9{
    font-size: 11px !important;
  }
  .fs-sm-27{
    font-size: 27px !important;
  }
  .fs-sm-19{
    font-size: 19px !important;
  }
  .overly-text{
    top: 22% !important;
  }
  .fs-100{
    font-size: 60px !important;
  }
  .fs-200{
    font-size: 144px !important;
  }
  .img-sale-div{
    left: 38%;
  }
  .img-smatphone{
    width: 61% !important;
  }
  .below-header {
    background-position: left !important;
  }
  .header-text-div{
    position: relative;
  }
  .fs-sm-30{
    font-size: 30px !important;
  }
  .snow-btm-img{
    height: 6% !important;
  }
  .sale-img {
    top: -6px;
    right: -5px;
    transform: rotate(9deg);
    width: 35%;
  }
  .accepted {
    font-size: 23px !important;
  }
  .flip-clock-dot {
    width: 7px;
    height: 7px;
    left: 2px;
  }
}
@media only screen and (max-width: 376px) {
  .fs-sm-9{
    font-size: 10px !important;
  }
  .flip-clock-dot {
    width: 7px;
    height: 7px;
    left: -2px;
  }
  .sale-img {
    top: 0px;
    transform: rotate(11deg);
  }
}

@media only screen and (max-width: 320px) {
  .sims-img {
    height: 225px;
  }
}
@media only screen and (max-width: 280px) {
  .btn-orange{
    width: 90% !important;  
  }
  .overly-text{
    top: 21% !important;
  }
  .fs-100 {
    font-size: 42px !important;
  }
  .fs-200{
    font-size: 104px !important;
  }
  .fs-xs-22{
    font-size: 19px !important;
  }
  .fs-sm-27{
    font-size: 24px !important;
  }
  .fs-sm-19{
    font-size: 13px !important;
  }
  .fs-xs-16{
    font-size: 16px !important;
  }
  .fs-xs-7{
    font-size: 7px !important;
  }
}