
.below-header {
  z-index: 2;
  padding-top: 24px;
  padding-bottom: 24px;
  background: linear-gradient(
    120deg,
    #99e2ff 0%,
    #99e2ff 70%,
    #66d4ff 70%,
    #66d4ff 100%
  );
  .accepted {
	  color: #2b417f;
	  font-family: Heebo;
	  font-weight: 600;
	  font-size: 2.3rem;
	}
	.approvel {
	  font-weight: 600;
	  line-height: 1.3;
	  font-size: 29px;
	}

	.btn-b {
    cursor: pointer;
    width: 85% !important;
    margin: 0 5%;
    padding: 10px 0px;
    font-size: 25px;
    background-color: #2b417f;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    border: 0px solid #fff;
    border-radius: 5px;
    margin: 1rem auto;
  }
	.text {
	  flex: 1 1 auto;
	}
}
.image {
  width: 95px;
  object-fit: contain;
  align-self: flex-start;
}
.image-phone-clock{
  max-width: 130px;
  max-height: 190px;
}
.img-head-clock{
  max-width: 150px !important;
}
.iphone-deal{
  max-width: 100%;
  max-height: 180px;
}
/*Clock*/
  .clock {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .flip-clock-wrapper ul li a div div.inn {
    background-color: #2b417f;
    color: white;
  }
  .flip-clock-divider {
    .flip-clock-label {
      font-size: 1rem;
      font-weight: 600;
      top: 6.5em;
      right: -6rem !important;
    }
  }
  /*End*/
  .sims-img {
    height: 254px;
  }
@media only screen and (max-width: 768px) {
  .image {
    width: 8rem;
    margin: 0 auto;
  }
  .text {
    text-align: center;
  }
  .accepted {
    font-size: 32px !important;
  }
  .approvel {
    font-size: 18px !important;
    text-align: center;
    padding: 5px 0 !important;
    text-align: center;
    font-weight: 500;
    line-height: 2.1;
  }
  .flip-clock-wrapper {
    width: 98%;
    margin: 2rem auto;
    margin-top: 0rem;
  }
  .flip-clock-dot {
    width: 7px;
    height: 7px;
    left: 2px;
  }

}
@media only screen and (max-width: 376px) {
  .flip-clock-dot {
    width: 7px;
    height: 7px;
    left: -2px;
  }
}

@media only screen and (max-width: 320px) {
  .sims-img {
    height: 225px;
  }
  .flip-clock-divider {
    .flip-clock-label {
      right: -5rem !important;
    }
  }
}

