html{
  scroll-behavior: smooth;
}
.fw-500{
  font-weight: 500 !important;
}
.w500{
  width: 450px;
}
/*fonts size*/
.fs-8{font-size:8px}
.fs-9{font-size:9px}
.fs-10{font-size:10px !important}
.fs-11{font-size:11px}
.fs-12{font-size:12px}
.fs-13{font-size:13px}
.fs-14{font-size:14px}
.fs-15{font-size:15px}
.fs-16{font-size:16px !important}
.fs-17{font-size:17px}
.fs-18{font-size:18px}
.fs-19{font-size:19px}
.fs-20{font-size:20px}
.fs-21{font-size:21px}
.fs-22{font-size:22px}
.fs-23{font-size:23px !important}
.fs-24{font-size:24px}
.fs-25{font-size:25px}
.fs-26{font-size:26px}
.fs-27{font-size:27px}
.fs-28{font-size:28px}
.fs-29{font-size:29px}
.fs-30{font-size:30px}
.fs-34{font-size:34px}
.fs-35{font-size:35px}
.fs-36{font-size:36px}
.fs-40{font-size:40px}
.fs-45{font-size:45px}
.fs-39{font-size:39px}
.fs-50{font-size:50px}
.fs-60{font-size:60px}

/*line-height*/
.lh-1{line-height: 1;}
.lh-8{line-height:8px}
.lh-9{line-height:9px}
.lh-10{line-height:10px}
.lh-11{line-height:11px}
.lh-12{line-height:12px}
.lh-13{line-height:13px}
.lh-14{line-height:14px}
.lh-15{line-height:15px}
.lh-16{line-height:16px}
.lh-17{line-height:17px}
.lh-18{line-height:18px}
.lh-19{line-height:19px}
.lh-20{line-height:20px}
.lh-21{line-height:21px}
.lh-22{line-height:22px}
.lh-23{line-height:23px}
.lh-24{line-height:24px}
.lh-25{line-height:25px}
.lh-26{line-height:26px}
.lh-27{line-height:27px}
.lh-28{line-height:28px}
.lh-29{line-height:29px}
.lh-30{line-height:30px}
.lh-35{line-height:35px}
.lh-40{line-height:40px}
.lh-45{line-height:45px}
.lh-50{line-height:50px}
.lh-60{line-height:60px}
.lh-32{line-height:32px}
.lh-33{line-height:33px}
.lh-34{line-height:34px}
.lh-35{line-height:35px}
.lh-36{line-height:36px}
.lh-37{line-height:37px}
.lh-38{line-height:38px}
.lh-34{line-height:34px}
.lh-n{line-height:normal}
.lh-0{line-height:0px}

.bg-img-success{
  background-image: asset-url('bg-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 85vh;
}
.fs-185{
  font-size: 155px;
}

.label-size{
  font-size: 13px !important;
  font-weight: 400 !important;
}
.modal4 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 40px;
  padding-bottom: 40px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal4-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 85%;
  border-radius: 5px;
}
.close-btn1{
  color: #aaaaaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
}
.close-btn1:hover,
.close-btn1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.securityInfo {
  text-align: center;
  margin-bottom: 15px;
  ul {
    margin: 0;
    padding: 0;
    img {
      border: medium none;
      max-width: 100%;
    }
    li {
      display: inline;
      font-size: 12px;
      color: #2f2f2f;
      padding: 1px 10px;
      border-right: solid 1px #2f2f2f;
    }
  }
}
.btn-div{
  margin: 20px auto;
  .but_loader{
    left: 42%;
    margin-top: 11px;
  }
  .btn-lg{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 0px;
    width: 100%;
    border-radius: 8px;
    font: 700 20px arial;
    color: #fff;
    text-decoration: none;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.4);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,.4);
    box-shadow: 0 0 8px rgba(0,0,0,.4);
    cursor: pointer;
    border-width: 2px;
  }
}
.display-n{
  display: none;
}
.min-h{
  min-height: 190px;
}
.left-0r{
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
}
.findAddress-btn{
  position: absolute;
  bottom: 0px;
  right: 9px;
}

.bt-orng2{
  background-color: #fa900d !important;
}
.bt-orng2:hover{
  background-color: #ffa940 !important;
}
.btn-hot{
  background: linear-gradient(to right,#f55a00, #9ce2fc, #f55a00) !important;
  border-radius: 50px !important;
  margin-bottom: -18px;
  padding: 6px 61px !important;
  font-size: 20px !important;
  color: white !important;
  font-weight: 700 !important;
}
.border-orng{
  border: 1px solid #fa900d;
}
.text-org{
  color: #ffa940 !important;
}
.img-box{
  width: 145px;
  height: 226px;
}
.img-box1{
  width: 174px;
  height: 226px;
}
.bg-light-orng{
  background-color: #fa900d !important;
}
.text-blue1{
  color: #16589d;
}
.company-top-btn{
  width: 25px;
}
.company-top-btn2{
  width: 50px;
}
.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 40px;
  padding-bottom: 40px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal2-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 85%;
  border-radius: 5px;
}

.modal3 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 40px;
  padding-bottom: 40px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal3-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 85%;
  border-radius: 5px;
}
.close-b{
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close-b:hover,
.close-b:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.close-bu{
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close-bu:hover,
.close-bu:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*radio btn */

.input-deposit{
  font-size: 23px !important;
  font-weight: 800px;
  background-color: white;
  width: 100%;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
}
.input-deposit:hover{
  border: 1px solid #344eb0;
}
.input-deposit:after{
  width: 32px;
  height: 32px;
  content: "";
  border: 2px solid #e7e7ee;
  background-color: #e7e7ee;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  left: 6%;
  top: 29px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}
input:checked ~ .input-deposit:after{
  background-color: #fff;
  border-color: #fff;
  background-image: url('radiodott.png');
  background-repeat: no-repeat;
  background-position: 7px 7px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}
input:checked ~ .input-deposit{
  color: white !important;
  background: #42baec;
  border: 1px solid #42baec !important;
}
.input-deposit-radio{
  width: 80%;
  left: 21px;
  height: 55px;
}
input:hover ~ .input-deposit{
  border: 1px solid #42baec;
  color: white !important;
  background: #42baec;
}
input:hover ~ .input-deposit:after{
  border: 4px solid white;
  background: #42baec;
}

/*radio btn end*/
.mh-phone{
  max-height: 210px !important;
}

.input-deals{
  font-size: 23px !important;
  font-weight: 800px;
  background-color: white;
  width: 100%;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  color: #42baec;
}
.input-deals:hover{
  border: 1px solid #344eb0;
}
.input-deals:after{
  width: 32px;
  height: 32px;
  content: "";
  border: 2px solid #e7e7ee;
  background-color: #e7e7ee;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  left: 6%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}
input:checked ~ .input-deals:after{
  background-color: #fff;
  border-color: #fff;
  background-image: url('radiodott.png');
  background-repeat: no-repeat;
  background-position: 7px 7px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}
input:checked ~ .input-deals{
  color: white !important;
  background: #42baec;
  border: 1px solid #42baec !important;
}
.input-deals-radio{
  width: 80%;
  left: 21px;
  height: 55px;
}
input:hover ~ .input-deals{
  border: 1px solid #42baec;
  color: white !important;
  background: #42baec;
}
input:hover ~ .input-deals:after{
  border: 4px solid white;
  background: #42baec;
}

.w-95{
  width: 95% !important;
}
.hv-50{
  height: 50px !important;
}
.top-text-deal{
  border-top-right-radius: 10px;
}
.sim-img{
  width: 200px;
}
.s10-img{
  width: 132px;
}
.iphonese-img{
  height: 196px;
}
.div-deals{
  color: #00478d !important;
  border-radius: 10px;
  border-left: 9px solid #00478d;
  box-shadow: 0 0 18px 0 rgba(5,133,236,.3);
  text-shadow: #00478d8c 0.1px 0.1px 0.1px !important;
  cursor: pointer;
  display: grid !important;
  height: 496px;
}
.div-sim{
  color: #00478d !important;
  border-radius: 10px;
  box-shadow: 0 0 18px 0 rgba(5,133,236,.3);
  text-shadow: #00478d8c 0.1px 0.1px 0.1px !important;
  cursor: pointer;
}
.lis-list{
  padding-left: 35% !important;
}
.promotion {
  color: #000;
  background-color: #f7d849;
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.25), 0 0 1px 0 rgba(0,0,0,0.15);
  padding: 0.625rem;
  text-align: center;
  margin-bottom: 1.25rem;
  position: relative;
  font-weight: 700;
  width: 100%;
}
.checkbox-col{
  .custom-control-label::before{
    top: 0rem;
    left: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 45%;
    bottom: 45%;
    transform: translate(0%, -45%);
  }
  .custom-control-label::after{
    top: 0rem;
    left: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 45%;
    bottom: 45%;
    transform: translate(0%, -45%);
  }
  .bg-opacity{
    background-color: #3ebbe9a6;
    width: 86px;
    height: 100%;
    position: absolute;
  }
  .deal-form-box .modal-body .form label{
    font-size: 16px !important;
    font-weight: 500;
    color: black !important;
  }
  .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #3ebbe9a6;
    border: 2px solid white;
  }


}
.model-check-button{
  .o-btn{
    font-size: 25px !important;
  }
}
.image-chead{
  width: 178px;
  align-self: flex-start;

}
.btn-deal{
  font-size: 1.25rem;
}
.banner-div{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: rgba(240,240,240,0.8) !important;
  background-image: url('new_mmd/iphone-banner1.jpg');
}
.banner-img{
  display: none;
}

.background-light{
  background-color: #f8f9fa;
}
.container{
  max-width: 1400px;
}
.text-orange{
  color: #42baec;
}
.btn-dealslist{
  text-shadow: none !important;
  font-size: 18px !important;
}
.bg-light-pink{
  background-color: #f1effc !important;
}
.close{
  font-size: 2.5rem !important;
  font-weight: 500 !important;
}

.bg-pink{
  background: #42baec !important;
}
.bg-green{
  background-color: #aba1f8;
}
.bg-light-green{
  background-color: #f1effc;
}
.text-pink{
  color: #42baec !important;
}
.top-btn{
  color: white !important;
  text-shadow: #803c00 1px 1px 1px;
  font: 700 18px arial !important;
  height: 45px;
  border-radius: 50px !important;
}
.o-btn{
  border-radius: 50px !important;
  border: 3px solid #aba1f8 !important;
  background: white !important;
  color: #aba1f8 !important;
  font: 700 18px arial !important;
  height: 50px;
  &:hover{
    color: white !important;
    background: #aba1f8!important;
  }
}
.box {
  width: 100%;
  position: relative;
  border-right: 1px solid #d1d0d0;
  font-size: 16px;
}
.detail-box {
  background-color: #42baec;
  color: white !important;
  padding: 8px 0;
}
.mobile {
  display: none !important;
}
.fa,
.fas {
  font-weight: 900;
  color: #008fe9 !important;
}
.fm_h {
  font-family: Heebo;
}
.bolder {
  line-height: 16px;
  font-size: 24px;
  font-family: inherit;
  color: #0397d6;
  margin: 15px 0 10px 0;
  letter-spacing: -1px;
  font-weight: 600;
}
.bold {
  font-size: 16px;
  font-weight: 700;
  color: #001b2b;
}
.dark-blue{
  color: #2b417f;
}
.nav-link{
  color: #212529 !important;
  padding: 0 !important;
  &:hover{
    color:#212529 !important;
  }
}
.error {
  color: red;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 400;
}
.newcheckbox{
  position: absolute;
  left: 50%;
  width: 100%;
  transform: translate(-50%);
}
.price-img{
  position: absolute;
  top: 10px;
  left: 24px;
  height: 117px;
  width: 139px;
}
.border-div{
  height: 134px;
  width: 134px;
  border-radius: 50%;
  border:3px solid white;
}
.brnds-logo{
  width: 120px;
}
@media only screen  and (min-width: 750px) and (max-width: 768px) {
  .o-btn{
  font-size: 15px !important;
  }
  .price-img {
    left: 8px;
    height: 117px;
    width: 139px;
  }
  .div-deals{
    height: auto !important;
  }
}

@media only screen and (min-width: 767px) and (max-width: 992px) {
  .deals-list{
    max-width: 540px !important;
    .btn{
      font-size: 18px !important;
      line-height: normal;
    }
    .actions{
      padding-bottom: 10px;
    }
  }

  .mobile {
    display: block !important;
  }
  .desktop {
    display: none !important;
  }
}
@media only screen  and (max-width: 768px) {
  .mobile {
    display: block !important;
  }
  .desktop {
    display: none !important;
  }

}
@media only screen and (max-width: 520px) {
  .disney-gif{
    width: 300px !important;
    max-width: 100% !important;
  }
  .lh-sm-24{
    line-height: 24px !important;
  }
  .bb-small-none{
    border-bottom: none !important;
  }
  hr{
    display: none;
  }
  .br-md-0{
    border-right: none !important;
  }
  .w500{
    width: 250px;
  }
  .img-box {
    width: 118px;
    height: 198px;
    margin-top: 18px;
  }
  .img-box1{
    width: 134px;
    height: 198px;
    margin-top: 18px;
  }
  .brnds-logo{
    width: 90px;
  }
  .input-deals:after{
    left: 4%;
  }
  .w-195{
    width: 125px !important;
  }
  .div-deals{
    height: auto !important;
  }
  .s10-img{
    width: 125px;
  }
  .sim-img {
    width: 140px;
  }
  .price-img {
    left: 31px;
    height: 89px;
    width: 105px;
  }
  .fs-md-12{
    font-size: 12px !important;
  }
  .fs-md-24{
    font-size: 24px !important;
  }
  .fs-md-22{
    font-size: 22px !important;
  }
  .fs-md-23{
    font-size: 23px !important;
  }
  .fs-md-20{
    font-size: 20px !important;
  }
  .fs-md-19{
    font-size: 19px !important;
  }
  .fs-md-18{
    font-size: 18px !important;
  }
  .fs-md-17{
    font-size: 17px !important;
  }
  .fs-md-15{
    font-size: 15px !important;
  }
  .lis-list{
    padding-left: 13% !important;
  }
  .navbar-toggler{
    display: none;
  }
  .navbar-brand{
    width: 100%;
    text-align: center;
  }

  .fs-24{
    font-size: 14px
  }
  .btn-orange-div{
    .o-btn{
      font-size: 20px !important;
    }
  }
  .f-17{
    font-size: 17px !important;
  }
  .modal-header{
    h1{
      font-size: 16px !important;
    }
  }
  .pl-7{
    padding-left: 70px;
  }
  .btn-toggl{
    display: none;
  }
  .text-orange{
    font-size: 17px !important;
  }
  .banner-img{
    display: block;
  }
  .banner-div{
    background-image: none;
  }

  .bolder {
    font-size: 23px;
  }

}

@media only screen and (max-width: 411px) {
  .price-img {
    left: 28px;
    height: 89px;
    width: 105px;
  }
}

@media only screen and (max-width: 375px) {
  .price-img {
    left: 22px;
    height: 76px;
    width: 88px;
  }
}

@media only screen and (max-width: 360px) {
  .price-img {
    left: 12px;
    height: 76px;
    width: 88px;
  }
}

@media only screen and (max-width: 322px) {

  .fs-sm-22{
    font-size: 22px !important;
  }
  .fs-sm-20{
    font-size: 20px !important;
  }
  .bolder {
    font-size: 18px;
  }
  .lis-list{
    padding-left: 3% !important;
  }
  .mobile {
    display: block !important;
  }
  .desktop {
    display: none !important;
  }
  .text-orange{
    font-size: 17px !important;
  }
  .price-img{
    left: 0px;
    height: 62px;
    width: 73px;
  }
  .sim-img {
    width: 140px;
  }
}
