#credit-report{
  font-family: 'Quicksand', sans-serif !important;
  overflow-x: hidden;
  header{
    box-shadow: 0 1px 9px rgba(0,0,0,.3);
  }
  .form-control{
    height: 45px !important;
    border-color: #cdd1d5 !important;
  }
  .f-25{
    font-size: 16px !important;
    font-weight: 900 !important;
  }
  .progress{
    height: 10px !important;
  }
  .disp-none{
    display: none;
  }
  .bg-blue{
    background: #293789;
  }
  .img-logo{
    width: 200px;
  }
  .gif{
    width: 59px;
    position: absolute;
    transform: rotate(20deg);
    top: -66px;
    right: -61px;
  }
  .bg-blue-img{
    background-image: asset-url('background-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
  }
  .text-colour{
    color: #ee551a;
  }
  .form-div{
    border-radius: 5px;
    box-shadow: 0 1px 9px rgba(0,0,0,.3);
  }
  .z-index-6{
    z-index: 6;
  }
  .header-top{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
  }
  .back-btn{
    border: 0px;
    height: 60px !important;
    background-image: linear-gradient(to right,#ee551a,#ff8a22);
    text-shadow: #803c00 1px 1px 1px !important;
    font: 700 20px arial !important;
    border-bottom-left-radius: 5px !important;
    color: white !important;
    opacity: 0.7;
  }
  .back-btn:hover{
    opacity: 1;
   background-image: linear-gradient(to left,#ee551a,#ff8a22);
  }
  .btn-next {
    border: 0px;
    height: 60px !important;
    background-image: linear-gradient(to left,#ee551a,#ff8a22);
    text-shadow: #803c00 1px 1px 1px !important;
    font: 700 20px arial !important;
    border-bottom-right-radius: 5px !important;
    color: white !important;
  }
  .btn-next:hover {
    background-image: linear-gradient(to right,#ee551a,#ff8a22);
  }
  .btn-continue{
    position: relative;
    border: 0px;
    background-image: asset-url('btn-bg.svg');
    background-size: cover;
    opacity: 1;
    transition: opacity .3s .1s,background-color .2s;
    height: 60px !important;
    text-shadow: #803c00 1px 1px 1px !important;
    font: 700 23px arial !important;
    border-bottom-right-radius: 5px !important; 
    border-bottom-left-radius:  5px !important;
  }
  .btn-continue::before {
    background-image: asset-url('light-dash.png');
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: no-repeat -1500% -30px;
    -webkit-animation: knightrider 6s linear infinite;
    animation: knightrider 6s linear infinite;
  }
  .btn-continue:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
  }

  .btn-continue:hover{
    opacity: 0.8;
  }
  .progress {
    background: #fff;
    height: .5rem;
    border-top-left-radius: .3rem!important;
    border-top-right-radius: .3rem!important;
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
  }
  .progress-bar {
    background-image: linear-gradient(to left, #ee551a, #ff8a22);
  }
  .text-blue{
    color: #0c31ba !important;
  }
  .arrow-img{
    position: absolute;
    top: 24px;
    right: 90px;
    width: 145px;
    transform: rotate(-37deg);
  }
  .parsley-error-list{
    clear: both;
    display: block;
    width: 100%;
  }
  label.error {
    color: red;
    margin-bottom: 0px;
    font-size: 17px;
    font-weight: 400;
  }
  input.valid ~ .validate.success {
    display: inline-block;
  }
  input.valid ~ .validate.error {
    display: none;
  }
  input.error ~ .validate.error {
    display: inline-block;
  }
  input.error ~ .validate.success {
    display: none;
  }
  input.valid{
    border: 2px solid #28a745 !important;
  }
  input.error {
      border: 2px solid red !important;

  }
  .validate.success{
    display: none;
    color: #28a745 !important;
    position: absolute;
    float: right;
    font-size: 25px;
    right: 8%;
    margin-top: -42px;
  }
  .validate.error{
    display: none;
    color: red !important;
    position: absolute;
    float: right;
    font-size: 25px;
    right: 8%;
    margin-top: -42px;
  }
  .img-mobile{
    width: 420px;
    max-width: 100%;
  }
  .img-creport{
    width: 70px;
  }
  .img-creport1{
    width: 65px;
  }
  .img-creport2{
    width: 55px;
  }

  .h-imgdiv{
    height: 120px;
    padding: 10px;
    margin-bottom: 10px;
    background: #fafafa;
  }
  .bg-image{
    background-image: asset-url("curve.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 160px;
    position: relative;
  }
  .bg-color{
    background: #27278e;
    background-size: cover;
    position: absolute;
  }
  .img-compny{
    width: 150px;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
  /* radio btn*/
  .opacity-0{
    opacity: 0;
  }
  .input-payment{
    background-color: white;
    width: 80%;
    border: 1px solid #f49029;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px !important;
    color: black;
  }
  .input-payment:hover{
    color: white !important;
    border: 1px solid #344eb0;
  }
  .input-payment:after{
    width: 25px;
    height: 25px;
    content: "";
    border: 1px solid #f49029;
    background-color: #e7e7ee;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    left: 13%;
    top: 21px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
  }
  input:checked ~ .input-payment:after{
    background-color: #344eb0;
    border-color: #fff;
    border:2px solid white;
  }
  input:checked ~ .input-payment{
    color: white;
    background-color: #344eb0;
  }
  .input-pay-radio{
    width: 80%;
    left: 21px;
    height: 55px;
  }
  input:hover ~ .input-payment{
    border: 1px solid #344eb0;
    color: white;
    background-color: #344eb0;
  }
  input:hover ~ .input-payment:after{
    border: 1px solid #344eb0;
  }
  .input-div{
    width: 33%;
  }
  .cursor-p{
    cursor: pointer;
  }

  @media only screen and (max-width: 1025px) {
    .fs-md-21{
      font-size: 28px !important;
    }
    .gif{
      width: 49px;
      top: -44px;
      right: -52px;
    }
    .arrow-img{
      position: absolute;
      top: 88px;
      right: 41px;
      width: 129px;
      transform: rotate(-31deg);
    }
  }
  @media only screen and (max-width: 769px) {
    .arrow-img{
      position: absolute;
      top: 135px;
      right: -30px;
      width: 105px;
      transform: rotate(-12deg);
    }
  }

  @media only screen and (max-width: 520px) {

    .input-div{
      width: 48%;
    }
    .back-btn{
      border-bottom-right-radius: 5px !important;
    }
    .btn-next{
      border-bottom-right-radius: 0px !important;
    }
    .img-compny{
      width: 92px;
    }
    .fs-md-21{
      font-size: 21px !important;
    }
    .fs-md-16{
      font-size: 15px !important;
    }
    .f-25{
      font-size: 20px !important;
    }
    .pink-circle{
      top: 40px;
    }
  }
  @media only screen and (max-width: 320px) {

    .input-payment:after{
      width: 21px;
      height: 21px;
      content: "";
      left: 10%;
    }
    .input-payment{
      width: 86%;
    }
  }

}