html{
	scroll-behavior: smooth !important;
}
#samsung-deals{
	font-family: 'Nunito', sans-serif;
	.bg-header{
		background: #000;
		background-position: center;
		background-size: auto;
		min-height: 500px;
	}
	.icon1{
		width: 60px;
	}
	.icon2{
		width: 75px;
	}
	.women-img{
		width: 300px;
		max-width: 100% !important;
	}
	.network-logo{
		width: 30px;
	}
	.network-logo1{
		width: 40px;
	}
	.div-shadow{
    box-shadow: 0 0.5rem 1rem #1729a045 !important;
	}
	.icon-samsung{
		width: 20%;
	}
	.snow-img-div{
		left: 0;
		bottom: 0;
		right: 0;
	}
	.bg-light-clor{
		background-color: #ffffffd9;
	}
	.progress-bar{
		background-color: #aba1f8;
	}
	label{
		color: #aba1f8;
		font-weight: 700;
		font-family: 'muli', sans-serif;
	}
	.error {
	    color: red !important;
	    margin-bottom: 0px;
	    font-size: 15px;
	    font-weight: 400 !important;
	}
	.btn-orange-header{
		color: white !important;
    border: 2px solid white !important;
    border-radius: 50px !important;
    background-color: #ff7d07 !important;
    &:hover{
    	background-color: white !important;
    	color: #ff7d07 !important;
    }
	}
	.btn-orange{
		color: white !important;
    border: 2px solid #ff7d07 !important;
    border-radius: 50px !important;
    background-color: #ff7d07 !important;
    &:hover{
    	background-color: white !important;
    	color: #ff7d07 !important;
    }
	}
	.text-blue{
		color: #1729a0d9 !important
	}
	.bg-light-bl{
		background-color: #f4f5ff !important;
	}
	.text-orang{
		color: #ff8012 !important;
	}
	.mx-w{
		max-width: 100% !important;
	}
	.call-agent-img{
		width: 45px;
	}
	.risk-fre{
		width: 50px;
	}
	.sav-mny{
		width: 50px;
	}
	.div-why{
		min-height: 271px;
	}
	.phone-img{
		width: 100%;
    max-width: 100% !important;
	}
	.deal-div{
		border: 2px solid #1729a0 !important;
	}
	@media only screen and (max-width: 768px) {
		.fs-sm-12{
			font-size: 12px;
		}
	}
	@media only screen and (max-width: 520px) {
		.fs-sm-12{
			font-size: 12px;
		}
		.fs-sm-20{
			font-size: 20px;
		}
		.fs-sm-18{
			font-size: 18px;
		}
		.icon1{
			width: 35px;
		}
		.icon2{
			width: 45px;
		}
		.icon-samsung{
			width: 40%;
		}
		.call-agent-img{
			width: 115px;
		}
  }


}