#rmktg-awin{
  .atma-fnt{
    font-family: 'Atma', cursive !important; 
  }
  .fw-6{
    font-weight: 600;
  }
  .bg-light-blu{
    background-color: #7ec5ff !important;
  }
  .bg-dark-blu{
    background-color: #313451 !important;
  }
}