#rmktg-awin{
  .atma-fnt{
    font-family: 'Atma', cursive !important; 
  }
  .fw-6{
    font-weight: 600;
  }
  .bg-light-blu{
    background-color: #7ec5ff !important;
  }
  .bg-dark-blu{
    background-color: #313451 !important;
  }
  .bg-alice{
    background: aliceblue;
  }
  .deal-w{
    min-height: 739px;
    max-height: 739px;
    cursor: pointer;
    width: 25% !important;
  }
  .bg-dark-brow{
    background-color: #181713 !important;
  }
  .bg-dark-brown2{
    background-color: #303021 !important;
  }
  .mt-24{
    margin-top: -24px;
  }
  .btn-buynow{
    position: absolute;
    bottom: 75px;
    left: 50%;
    transform: translate(-50%);
    font-size: 21px;
    font-weight: 700;
    width: 75%;
    background-color: #f9820d !important;
  }
  .btn-buynow:hover{
    background-color: #ff9c3b !important;
  }
  .mt-50{
    margin-top: 50px;
  }
  .fw-100{
    font-weight: 100;
  }
  .bg-purple{
    background-color: #8f3765;
  }
  .text-purple{
    color: #8f3765 !important;
  }
  .bg-light-brown{
    background-color: #675062;
  }
  .text-light-brown{
    color: #675062 !important;
  }
  .red-border{
    border-right: 4px solid #BB5148;
    border-color: #BB5148;
  }
  @media only screen and (max-width: 768px) {
    .deal-w{
      width: 32% !important;
    }
    .social-img{
      width: 150px;
    }
  }
  @media only screen and (max-width: 520px) {
    .red-border{
      border-right: 0px;
    }
    .deal-w{;
      width: 100% !important;
    }
  }
}
