.robo{
    font-family: 'Roboto';
}
.font-red{
    color: red ;
}
.font-blue{
    color: blue;
}
.font-size{
    font-size: 28px;
}
.light-blue-color{
    background-color: #d1f2fb;
}
.white-color{
    color: white;
    width: 21%;
}
@media (max-width: 414px) { 
    .mega-logo{
        width: 135px;
    }
    .reviews{
        width: 157px;
    }
    .address-field{
        width: 100% !important;
    }
    .white-color{
        width: 50%;
    }

 }