#smartphones{
  .bg-clip{
  	overflow: hidden;
  	min-height: 500px;
    position: relative;
  }
  .font-poppins{
    font-family: 'Poppins', sans-serif !important;
  }
  .bg-clip::before{
  	background-color: #92dada;
  	clip-path: polygon(0% 0, 0% 125%, 100% 0%);
    content: "";
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    left: 0;
  }
  .text-blu{
    color: #3eb0b0 !important;
  }
  .bg-light-blu{
    background-color: #d1f2f2;
  }
  .logo-img{
    width: 125px;
    z-index: 3;
    position: relative;
  }
  .fs-65{
  	font-size: 82px !important;
  }
  .disp-none{
    display: none;
  }
  .threestep{
    left: 45%;
    transform: translate(-50%);
    position: relative;
    top: 0;
  }
  .w-65{
    width: 65% !important;
  }
  .top-shadow{
    box-shadow: 0 0.5rem 3rem #fa6e4740 !important;
  }
  .text-orng{
  	color: #FA6E47 !important;
  }
  .mxw-100{
  	max-width: 100% !important;
  }
  .btn-shadow{
    box-shadow: 0 0.3rem 0.8rem #1b1a1a4f !important;
  }
  .btn-orang {
    background-color: #FA6E47 !important;
    border: 2px solid #FA6E47 !important;
    font-size: 22px !important;
    color: white !important;
    font-weight: 500;
    width: 37%;
    box-shadow: 0 0.3rem 0.8rem #1b1a1a4f !important;
  }
  .btn-orang:hover, .btn-orang:focus {
    box-shadow: 0 0 0 2px #f4d1f2, 0 0 0 3px #FA6E47;
  }
  .phone-header{
    height: 225px;
    width: 180px;
    object-fit: contain;
  }
  .rounded-m{
    border-radius: 0.6rem !important;
  }
  .deal-shadow{
    box-shadow: 0 0.4rem 0.8rem #547e7ec9 !important;
  }
  .deal-border{
    border: 2px solid #FA6E47 !important;
  }
  .min-h{
    min-height: 670px;
  }
  .img-header{
    position: absolute;
    left: -33%;
    bottom: -49px;
  }
  .first-div{
    left: 37%;
    position: relative;
  }
  .modal-content {
    border: 5px solid #0eb6c8 !important;
    border-radius: 0.8rem !important;
  }
  .deal-form-box {
    -webkit-box-shadow: 0 22px 16px 0 #0000001a, 0 6px 22px 0 #0000005e !important;
    box-shadow: 0 22px 16px 0 #0000001a, 0 6px 22px 0 #0000005e !important;
  }
  .modal-header h1 {
    font-size: 40px;
    font-weight: 500;
  }
  #form-div{
    input:focus,
    button:focus {
      outline: none;
    }
    .fs-38{
      font-size: 38px !important;
    }
    .logos-div{
      position: absolute;
      bottom: 17px;
    }

    .network-log{
      width: 47px;
    }
    .network-log1{
      width: 39px;
    }
    .network-log2{
      width: 60px;
    }

    button:hover,
    .reset:hover {
      opacity: .8;
    }
    button.back{
      background-color: darkgrey !important;
    }

    button:active,
    .reset:active {
      opacity: .5;
    }

    .container {
      width: 500px;
      position: absolute;
      top: 40%;
      left: 50%;
      -webkit-transform: translate(-50%, -40%);
      -ms-transform: translate(-50%, -40%);
      transform: translate(-50%, -40%);
    }
    .top-first {
      top: 57% !important;
    }

    .steps {
      margin-bottom: 10px;
      position: relative;
      height: 25px;
    }

    .steps > div {
      position: absolute;
      top: 0;
      -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
      transform: translate(-50%);
      height: 25px;
      padding: 0 5px;;
      display: inline-block;
      width: 55px;
      text-align: center;
      -webkit-transition: .3s all ease;
      transition: .3s all ease;
    }

    .steps > div > span {
      line-height: 25px;
      height: 25px;
      margin: 0;
      color: #fa6e47;
      font-size: .9rem;
      font-weight: 300;
    }

    .steps > div > .liner {
      position: absolute;
      height: 2px;
      width: 0%;
      left: 0;
      top: 50%;
      margin-top: -1px;
      background: #999;
      -webkit-transition: .3s all ease;
      transition: .3s all ease;
    }

    .step-one {
      left: 0;
    }

    .step-two {
      left: 50%;
      clip: rect(0, 0px, 25px, 0px);
    }

    .step-three {
      left: 100%;
      clip: rect(0, 0px, 25px, 0px);
    }

    .line {
      width: 100%;
      height: 5px;
      background: #ddd;
      position: relative;
      border-radius: 10px;
      overflow: visible;
      margin-bottom: 50px;
    }

    .line .dot-move {
      position: absolute;
      top: 50%;
      left: 0%;
      width: 15px;
      height: 15px;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background: #ddd;
      border-radius: 50%;
      -webkit-transition: .3s all ease;
      transition: .3s all ease;
    }

    .line .dot {
      position: absolute;
      top: 50%;
      width: 15px;
      height: 15px;
      left: 0;
      background: #ddd;
      border-radius: 50%;
      -webkit-transition: .3s all ease;
      transition: .3s all ease;
      -webkit-transform: translate(-50%, -50%) scale(.5);
      -ms-transform: translate(-50%, -50%) scale(.5);
      transform: translate(-50%, -50%) scale(.5);
    }

    .line .dot.zero {
      left: 0%;
      background: #bbb;
    }

    .container.slider-one-active .dot.zero {
      background: #fa6e47;
    }

    .line .dot.center {
      left: 50%;
      background: #bbb
    }

    .line .dot.full {
      left: 100%;
      background: #bbb
    }

    .slider-ctr {
      width: 100%;
      overflow: hidden;
    }

    .slider {
      overflow: hidden;
      width: 1270px;
      -webkit-transition: .3s all ease;
      transition: .3s all ease;
      -webkit-transform: translate(0px) scale(1);
      -ms-transform: translate(0px) scale(1);
      transform: translate(0px) scale(1);
    }

    .container.slider-one-active .slider-two,
    .container.slider-one-active .slider-three {
      -webkit-transform: scale(.5);
      -ms-transform: scale(.5);
      transform: scale(.5);
    }

    .container.slider-two-active .slider-one,
    .container.slider-two-active .slider-three {
      -webkit-transform: scale(.5);
      -ms-transform: scale(.5);
      transform: scale(.5);
    }

    .container.slider-three-active .slider-one,
    .container.slider-three-active .slider-two {
      -webkit-transform: scale(.5);
      -ms-transform: scale(.5);
      transform: scale(.5);
    }

    .slider-one,
    .slider-two,
    .slider-three {
      -webkit-transition: .3s all ease;
      transition: .3s all ease;
    }

    .slider-form {
      float: left;
      width: 467px;
      text-align: center;
    }

    .slider-form h2 {
      font-size: 1.5rem;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      margin-bottom: 50px;
      color: #999;
      position: relative;
    }

    .slider-form h2 .yourname {
      font-weight: 400;
    }

    .slider-form h3 {
      font-size: 1.5rem;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      margin-bottom: 50px;
      line-height: 1.5;
      color: #999;
      position: relative;
    }

    .slider-form h3 .balapa {
      font-family: 'Pacifico', sans-serif;
      display: inline-block;
      color: #fa6e47;
      text-decoration: none
    }

    .slider-form [type="text"], [type="email"], [type="number"]{
      width: 100%;
      box-sizing: border-box;
      height: 50px;
      background: #fafafa;
      border: 1px solid #0000000a;
      color: #777;
      border-radius: 50px;
      margin-bottom: 18px;
      font-size: 1rem;
      position: relative;
      z-index: 99;
    }
    .property {
      width: 100%;
      box-sizing: border-box;
      height: 50px;
      background: #fafafa;
      border: 1px solid #0000000a;
      color: #777;
      border-radius: 50px;
      margin-bottom: 18px;
      font-size: 1rem;
      position: relative;
      z-index: 99;
    }
    .parsley-errors-list{
      list-style: none;
      color: red;
      font-size: 14px;
      font-weight: 300;
    }
    .onoffswitch-inner:before {
      background-color: green;
    }
    input:checked ~ label {
      border-color: #0b4c0b !important;
      background-color: green !important;
    }

    .slider-form [type="text"]:focus, [type="email"]:focus, [type="number"]:focus {
      background: #fcfcfc;
      border: 1px solid #ddd;
    }
    .property:focus  {
      background: #fcfcfc;
      border: 1px solid #ddd;
    }

    .slider-form button,
    .reset {
      display: inline-block;
      text-decoration: none;
      background: #fa6e47;
      border: none;
      color: white;
      padding: 10px 25px;
      font-size: 1rem;
      border-radius: 8px;
      cursor: pointer;
      font-weight: 600;
      position: relative;
      box-shadow: 0 0.3rem 0.8rem #1b1a1a4f !important;
    }

    /*  emot */

    .label-ctr {
      margin-bottom: 50px;
    }

    label.radio {
      height: 55px;
      width: 55px;
      display: inline-block;
      margin: 0 10px;
      background: transparent;
      position: relative;
      border-radius: 50%;
      cursor: pointer
    }

    label.radio input {
      visibility: hidden
    }

    label.radio input:checked + .emot {
      -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
      transform: scale(1.25);
    }

    label.radio input:checked + .emot,
    label.radio input:checked + .emot .mouth {
      border-color: #fa6e47;
    }

    label.radio input:checked + .emot:before,
    label.radio input:checked + .emot:after {
      background: #fa6e47;
    }

    label.radio .emot {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fafafa;
      border-radius: 50%;
      border: 2px solid #ddd;
      -webkit-transition: .3s all ease;
      transition: .3s all ease;
    }

    label.radio .emot:before {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      width: 5px;
      height: 10px;
      background: #ddd;
    }

    label.radio .emot:after {
      content: "";
      position: absolute;
      top: 15px;
      right: 15px;
      width: 5px;
      height: 10px;
      background: #ddd;
    }

    label.radio .emot .mouth {
      position: absolute;
      bottom: 10px;
      right: 15px;
      left: 15px;
      height: 15px;
      border-radius: 50%;
      border: 3px solid #ddd;
      background: transparent;
      clip: rect(0, 35px, 10px, 0);
    }

    label.radio .emot .mouth.smile {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
    }

    label.radio .emot .mouth.sad {
      -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
      transform: translateY(50%);
    }

    /*  center */

    .container.center .line .dot-move {
      left: 50%;
      -webkit-animation: .3s anim 1;
    }

    .container.center .line .dot.center {
      background: #fa6e47;
    }

    .container.center .slider {
      -webkit-transform: translate(-467px);
      -ms-transform: translate(-467px);
      transform: translate(-467px);
    }

    .container.center .step-two {
      clip: rect(0, 100px, 25px, 0px);
    }

    .container.center .step-one .liner {
      width: 100%;
    }

    /*  full */

    .container.full .line .dot-move {
      left: 100%;
      -webkit-animation: .3s anim 1;
    }

    .container.full .line .dot.full {
      background: #fa6e47;
    }

    .container.full .slider {
      -webkit-transform: translate(-800px);
      -ms-transform: translate(-800px);
      transform: translate(-800px);
    }

    .container.full .step-two,
    .container.full .step-three {
      clip: rect(0, 100px, 25px, 0px);
    }

    .container.full .step-one .liner,
    .container.full .step-two .liner {
      width: 100%;
    }
    .progress {
      background-color: #fff6f4;
      border-radius: 1.25rem;
      border: 1px solid #fa6e47;
      height: 25px;
    }
    .bg-grcolor {
      background-image: linear-gradient(to right, #fa6e47, #4ed0d0);
      height: 100%;
    }
  }
  .secondstep{
    left: 19%;
    position: relative;
    transform: translate(-50%);
  }

  @media only screen and (max-width: 912px) {
    .fs-65{
     font-size: 52px !important;
    }
    .modal-header h1 {
      font-size: 30px !important;
    }
    #form-div{
      .container {
        top: 40%;
      }
      .steps {
        max-width: 75%;
      }
      .line{
        width: 75% !important;
      }
    }
  }
  @media only screen and (max-width: 540px) {
    .bg-clip::before {
      clip-path: polygon(0% 0, 0% 100%, 159% 0%);
    }
  }

  @media only screen and (max-width: 520px) {
    .modal-header h1 {
      font-size: 30px !important;
    }
    .bg-clip::before {
      clip-path: polygon(0% 0, 0% 100%, 149% 0%);
    }
    .fs-65{
     font-size: 33px !important;
    }
    .fs-sm-23{
     font-size: 23px !important;
    }
    .fs-sm-27{
      font-size: 27px !important;
    }
    #form-div{
      .container {
        top: 40%;
      }
      .top-first {
        top: 50% !important;
      }
      .network-log{
        width: 28px;
      }
      .network-log1{
        width: 25px;
      }
      .network-log2{
        width: 48px;
      }
      .container {
        width: 373px;
      }
      .slider-form {
        width: 340px;
      }
      .secondstep{
        left: 23.5%;
      }
      .threestep {
        left: 50%;
      }
      .steps {
        max-width: 72%;
      }
    }
  }
}
