
#mobile-go{
  $base-color: #42BAEC;
  min-height: 100vh !important;
  .font-cabin{
    font-family: 'Cabin Sketch', cursive !important;
  }
  .head-logo{
    width: 180px;
  }
  .fw-400{
    font-weight: 400 !important;
  }
  .bold-border{
    border-left: 5px solid $base-color;
  }
  .background-header{
    background: asset-url('banner-deal1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    width: 100%;
  }
  .text-jam{
    color: $base-color;
  }
  .input-radio{
    background-color: white;
    width: 100%;
    border: 1px solid $base-color;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50px !important;
    text-decoration: none;
    color: $base-color;
  }
  .input-radio:hover{
    color: white;
    background-color: $base-color;
    border: 1px solid $base-color;
    text-decoration: none;
  }
  .input-radio:checked ~ .input-radio{
    color: white;
    background-color: $base-color;
  }
  .input-tag-radio{
    opacity: 0;
    width: 100%;
    height: 55px;
  }
  input:hover ~ .input-radio{
    border: 1px solid $base-color;
    color: white;
    background-color: $base-color;
  }
  input:hover ~ .input-radio:after{
    border: 1px solid $base-color;
  }
  .input-div{
    width: 100%;
  }
  .cursor-p{
    cursor: pointer;
  }
  .bg-light-jam{
    background-color: #fcf7ff;
  }
  .btn-offers{
    border-radius: 50px !important;
    color: #fff;
    background-color: $base-color;
    border-color: $base-color;
  }
  .btn-offers:hover{
    background-color: #1a95c8;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
  .text-green{
    color: #339f9e;
  }
  .onoffswitch-inner:before {
    content: "Yes";
    padding-left: 10px;
    background-color: #42baec !important;
    color: #FFFFFF;
    text-align: left;
  }
  input:checked ~ label {
    background: #F7F7F7;
    border-color: #177699 !important;
  }
  .validate.success{
    display: none;
    color: #4CAF50 !important;
    position: relative;
    float: right;
    font-size: 25px;
    margin-top: -36px;
    right: 6px;
  }
  .validate.error{
    display: none;
    color: red !important;
    position: relative;
    float: right;
    font-size: 25px;
    margin-top: -36px;
    right: 6px;
  }
  .h-50{
    height: 50px !important;
  }
  @media screen and (max-width: 3072px) and (min-width: 2560px) {
    .background-header{
      height: 43vh;
    }
  }
  @media screen and (max-width: 2560px) and (min-width: 1600px) {
    .background-header{
      height: 50vh;
    }
  }

   
  @media only screen and (max-width: 1025px) {
    .input-div{
      width: 50%;
    }
    .background-header{
      height: 268px;
    }
  }
  @media only screen and (max-width: 768px) {
    .fs-md-12{
      font-size: 12px !important;
    }
    .fs-md-11{
      font-size: 11px !important;
    }
    .input-div{
      width: 50%;
    }
    .background-header{
      background-size: contain;
      background-position: center top;
      height: 198px;
    }
  }
  @media only screen and (max-width: 520px) {

    .fs-md-12{
      font-size: inherit !important;
    }
    .fs-md-11{
      font-size: inherit !important;
    }
    .input-div{
      width: 100%;
    }
    .bold-border{
      border-top: 5px solid $base-color;
      border-left: none;
    }
    .background-header{
      background: asset-url('compare/mobile-banner.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 337px;
    }
    .fs-md-13{
      font-size: 13px;
    }
    .input-radio{
      justify-content: center;
    }
  }

  /*step progressbar css start*/
  $color-white: #fff !important;
  $color-black: #333 !important;
  $color-gray: #75787b !important;
  $color-gray-light: #bbb !important;
  $color-gray-disabled: #e8e8e8 !important;
  $color-green: #53a318 !important;
  $color-green-dark: #383 !important;
  $font-size-small: .75rem !important;
  $font-size-default: .875rem !important;
.section-progress {
  margin-bottom: 2rem;
}
.custom-progress-bar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;
}
.custom-progress-bar li {
  flex: 2;
  position: relative;
  padding: 0 0 14px 0;
  font-size: $font-size-default;
  line-height: 1.5;
  color: $color-green;
  font-weight: 600;
  white-space: nowrap;
  overflow: visible;
  min-width: 0;
  text-align: center;
  border-radius: 0px;
  border-bottom: 5px solid $color-gray-disabled;
}
.custom-progress-bar li:first-child,
.custom-progress-bar li:last-child {
  flex: 1;
}
.custom-progress-bar li:last-child {
   text-align: right; 
  /* right: 0px; */
}
.custom-progress-bar li:first-child {
   text-align: left; 
}
.custom-progress-bar li:before {
  box-sizing: content-box;
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background-color: $color-gray-disabled;
  border-radius: 50%;
  border: 2px solid $color-white;
  position: absolute;
  left: calc(50% - 6px);
  bottom: -14px;
  z-index: 3;
  transition: all .2s ease-in-out;
}
.custom-progress-bar li:first-child:before {
  left: -4px;
}
.custom-progress-bar li:last-child:before {
  right: -10px;
  left: auto;
}
.custom-progress-bar span {
  transition: opacity .3s ease-in-out;
}
.custom-progress-bar li:not(.is-active) span {
  opacity: 0;
}
.custom-progress-bar .is-complete:not(:first-child):after,
.custom-progress-bar .is-active:not(:first-child):after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: -50%;
  z-index: 2;
  border-bottom: 5px solid $color-green;
}
.custom-progress-bar li:last-child span {
  width: 200%;
  display: inline-block;
  position: absolute;
  left: -100%;
}
.custom-progress-bar .is-complete:last-child:after,
.custom-progress-bar .is-active:last-child:after {
  width: 200%;
  left: -100%;
}
.custom-progress-bar .is-complete:before {
  background-color: $color-green;
}
.custom-progress-bar .is-active:before,
.custom-progress-bar li:hover:before,
.custom-progress-bar .is-hovered:before {
  background-color: $color-white;
  border-color: $color-green;
}
.custom-progress-bar li:hover:before,
.custom-progress-bar .is-hovered:before {
  transform: scale(1.33);
}
.custom-progress-bar li:hover span,
.custom-progress-bar li.is-hovered span {
  opacity: 1;
}
.custom-progress-bar:hover li:not(:hover) span {
  opacity: 0;
}
.x-ray .custom-progress-bar,
.x-ray .custom-progress-bar li {
  border: 1px dashed red;
}
.custom-progress-bar .has-changes {
  opacity: 1 !important;
}
.custom-progress-bar .has-changes:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  left: calc(50% - 4px);
  bottom: -20px;
  background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%208%208%22%3E%3Cpath%20fill%3D%22%23ed1c24%22%20d%3D%22M4%200l4%208H0z%22%2F%3E%3C%2Fsvg%3E');
}
/*end progressbar */

}