<div class="first-section blue-gradient rounded-2 text-white">
  <div class="col-md-6 d-block d-md-none pt-3">
    <div class="mob-clock "></div>
  </div>
  <div class="row align-items-center justify-content-between mx-0 flex-sm-row-reverse">
    <div class="col-md-6 object-contain">
      <div id="carouselControls" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="text-center py-3">
              <h2 class="text-center">Galaxy S21 Plus</h2>
              <%= image_tag("phone/galaxy-s21plus.png", class: "w-40" ) %>
              <h4 class="text-center mt-3">Unlimited</h4>
              <p class="text-center mb-0">SMS | Data | Minutes</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="text-center py-3">
              <h2 class="text-center">iPhone 13 Pro Max</h2>
              <%= image_tag("phone/apple-iphone-13-pro.png", class: "w-40" ) %>
              <h4 class="text-center mt-3">Unlimited</h4>
              <p class="text-center mb-0">SMS | Data | Minutes</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="text-center py-3">
              <h2 class="text-center">Galaxy Z Flip3</h2>
              <%= image_tag("glaxyz-flip3.png", class: "w-40" ) %>
              <h4 class="text-center mt-3">Unlimited</h4>
              <p class="text-center mb-0">SMS | Data | Minutes</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="ml-md-4 px-4 ">
        <p class="fs-40 text-uppercase mb-0">All Top class Deals </p>
        <p class="fs-40 ">Upto 70% Discounts</p>
        <div class="text-center text-md-left my-3">
          <button class="btn btn-warning fw-bold px-3 py-2 text-uppercase open-form w-75"> get now </button>
        </div>
      </div>
    </div>
  </div>
</div>
