<!-- Below header section Flipclock -->
<section class="mb-0">
  <div class="below-header position-relative">
    <a class="navbar-brand w-100 text-center pt-md-5 pt-4" href="javascript:;">
      <%= image_tag("logo.png", class: "open-form w-195", alt: "Switch Mobile Logo" ) %>
    </a>
    <div class="container">
      <div class="row">
        <div class="col-md-7 mt-4 mb-2 mb-lg-5">
          <div class="overly-text">
            <h1 class="font-stencil text-white fs-200">2022</h1>
          </div>
          <h1 class="font-hind-siliguri fs-100 text-white font-weight-bold">
            Super Feb
          </h1>
          <h1 class="border-font font-hind-siliguri fs-100 text-right lh-30">Deals Fest</h1>
          <h2 class="text-center text-white fs-34 mt-5 pt-5 fs-sm-19">Best smartphone discounts in the UK</h2>
          <div class="row w-100 mx-0 mb-md-0 mb-5">
            <div class="col-6 text-center px-0">
               <h1 class="border-font-light font-hind-siliguri fs-50 fs-sm-27">No Upfront <br> Payments</h1>
            </div>
            <div class="col-6 text-center px-0">
              <h1 class="border-font-light font-hind-siliguri fs-50 fs-sm-27">Super Fast <br> Approvals</h1>
            </div>
          </div>
          <div class="row w-100 mx-0 pt-4 d-none d-md-flex open-form">
            <div class="light-gradient row w-100 mx-0 py-3">
              <div class="col-6 text-center border-right border-light px-1 px-xl-2">
                <h2 class="font-Dosis text-shadow text-blu font-weight-bold fs-xs-22">Unlimited</h2>
                <div class="row w-100 mx-0 justify-content-around align-items-center">
                  <p class="text-blu fs-18 fs-sm-9">Minutes</p>
                  <p class="text-shadow text-orng fs-18 fs-sm-9">SMS</p>
                  <p class="text-blu fs-18 fs-sm-9">Data</p>
                </div>
              </div>
              <div class="col-6 text-center px-1 px-xl-2">
                <h2 class="font-Dosis text-shadow text-blu font-weight-bold fs-xs-22">Free</h2>
                <div class="row w-100 mx-0 justify-content-around align-items-center">
                  <p class="text-blu fs-18 fs-sm-9">Data Roaming</p>
                  <p class="text-shadow text-orng fs-18 fs-sm-9">Personal Hotspot</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 py-md-5 pb-4 mt-md-5 text-center">
          <div class="svg-img open-form">
            <svg xmlns="SVG namespace" xmlns:xlink="XLink namespace" width="100%" height="auto" viewBox="0 0 316 323">
              <defs>
              <radialGradient id="radial-gradient" cx="0.485" cy="0.405" r="1.042" gradientTransform="matrix(-0.526, -0.85, 0.657, -0.406, 0.474, 0.982)" gradientUnits="objectBoundingBox">
              <stop offset="0" stop-color="#015c99"/>
              <stop offset="1" stop-color="#b021c0" stop-opacity="0.91"/>
              </radialGradient>
              <filter id="Rectangle_2" x="0" y="0" width="316" height="323" filterUnits="userSpaceOnUse">
              <feOffset dy="19" input="SourceAlpha"/>
              <feGaussianBlur stdDeviation="3" result="blur"/>
              <feFlood flood-color="#190d0d" flood-opacity="0.349"/>
              <feComposite operator="in" in2="blur"/>
              <feComposite in="SourceGraphic"/>
              </filter>
              </defs>
              <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Rectangle_2)">
              <g id="Rectangle_2-2" data-name="Rectangle 2" transform="translate(9)" stroke="#fff" stroke-linecap="round" stroke-linejoin="bevel" stroke-width="0.1" fill="url(#radial-gradient)">
              <path d="M6,0H277a21,21,0,0,1,21,21V274a21,21,0,0,1-21,21H21A21,21,0,0,1,0,274V6A6,6,0,0,1,6,0Z" stroke="none"/>
              <path d="M6,.05H277A20.95,20.95,0,0,1,297.95,21V274A20.95,20.95,0,0,1,277,294.95H21A20.95,20.95,0,0,1,.05,274V6A5.95,5.95,0,0,1,6,.05Z" fill="none"/>
              </g>
              </g>
              </svg>
          </div>
          <div class="img-div-svg text-center open-form">
            <%= image_tag("iphone-13/iphone-13-pro-gold1.png", class: "img-smatphone" ) %>
            <h3 class="font-Nunito text-white mb-2 font-weight-bold fs-xs-22 fs-xlg">iPhone 13 Pro Max</h3>
            <p class="font-Nunito text-white pt-2 fs-21 fs-xs-16">*all varients available</p>
          </div>
          <div class="row w-100 mx-0 pt-4 d-md-none d-flex pb-3 pb-lg-0 open-form">
            <div class="light-gradient row w-100 mx-0 py-3">
              <div class="col-6 text-center border-right border-light px-1">
                <h2 class="font-Dosis text-shadow text-blu font-weight-bold fs-xs-22">Unlimited</h2>
                <div class="row w-100 mx-0 justify-content-around align-items-center">
                  <p class="text-blu fs-18 fs-sm-9 fs-xs-7">Minutes</p>
                  <p class="text-shadow text-orng fs-18 fs-sm-9 fs-xs-7">SMS</p>
                  <p class="text-blu fs-18 fs-sm-9 fs-xs-7">Data</p>
                </div>
              </div>
              <div class="col-6 text-center px-1">
                <h2 class="font-Dosis text-shadow text-blu font-weight-bold fs-xs-22">Free</h2>
                <div class="row w-100 mx-0 justify-content-around align-items-center">
                  <p class="text-blu fs-18 fs-sm-9 fs-xs-7">Data Roaming</p>
                  <p class="text-shadow text-orng fs-18 fs-sm-9 fs-xs-7">Personal Hotspot</p>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-orange open-form font-Dosis mt-4 mb-md-0 mb-4 font-weight-bold">Continue</button>
        </div>
      </div>
    </div>
  </div>
</section>
