<!-- Below header section Flipclock -->
<section class="mb-0">
  <div class="below-header">
    <div class="container">
      <div class="row mx-0 w-100">
        <div class="col-md-7 align-self-center px-0 open-form">
          <h2 class="text-center mt-3 lh-sm-24">
            <span class="accepted">Get The Best Deals On The Latest Smartphones!</span>
            <br>
            <span class="font-weight-bold desktop">iPhone 13 Deal <br> Unlimited | Data | Text | Minutes</span>
            <span class="approvel mobile">iPhone 13 Deal <br> Unlimited | Data | Text | Min</span>
          </h2>
          <div class="row mx-0 w-100 justify-content-center">
            <%= image_tag("apple-iphone-13-and-pro.png", class: " maxw-100 h-280", width: "350", alt: "Phones header" ) %>
          </div>
          <div class="py-2 text-center">
            <button class="btn btn-offers w-42 font-weight-bold"> GET DEAL NOW</button>
          </div>
        </div>
        <div class="col-md-5 text-center align-self-center px-0 position-relative">
          <%= image_tag("f-sale.gif", class: "position-absolute sale-img" ) %>
          <%= image_tag("black-friday1.gif", class: " maxw-100 px-4 px-md-2 mt-5 mb-2" ) %>
          <h5 class="font-weight-bold text-white ">Get deals before time ends</h5>
          <div class="clock"></div>
        </div>
      </div>
    </div>
  </div>
</section>
