<!-- Below header section Flipclock -->
<section class="mb-0">
  <div class="below-header position-relative">
    <div class="container">
      <div class="row mx-0 w-100">
        <div class="img-sale-div position-absolute">
          <%= image_tag("new-sale.png", class: "img-sale" ) %>
        </div>
        <div class="col-md-6 mt-5 pt-5 text-md-left text-center">
          <%= image_tag("smartphones.png", class: "img-smatphone" ) %>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="header-text-div rounded-lg p-3 shadow w-100 mb-3">
            <h1 class="text-center font-weight-bold text-white display-4 fs-sm-30">Get Latest Smartphones Deals</h1>
            <div class="row">
              <div class="col-md-4 mb-2 px-md-2 px-lg-3 px-3">
                <button class="btn btn-yellow open-form w-100 py-3 shadow-sm font-weight-bold px-1"> Fastest Approvals</button>
              </div>
              <div class="col-md-4 mb-2 px-md-2 px-lg-3 px-3">
                <button class="btn btn-yellow open-form w-100 py-3 shadow-sm font-weight-bold px-1">Unlimited Data & Calls</button>
              </div>
              <div class="col-md-4 mb-2 px-md-2 px-lg-3 px-3">
                <button class="btn btn-yellow open-form w-100 py-3 shadow-sm font-weight-bold px-1"> You Choose When To Pay</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-7 mx-auto">
                <button class="btn btn-warning open-form w-100 py-3 shadow-sm font-weight-bold text-purple mt-4 "> Find Discount Deals Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
