<!-- Below header section Flipclock -->
<section class="mb-0">
  <div class="below-header">
    <div class="container">
      <div class="row">
        <div class="col-12 align-self-center">
          <h2 class="text-center mt-3">
            <span class="accepted">Get The Best Deals On The Latest Smartphones!</span>
            <br>
            <span class="font-weight-bold desktop">iPhone 12 Deals</span>
            <!-- <span class="approvel mobile">5G Ready<br> Next Day Delivery <br> Unlimited Data</span> -->
          </h2>
          <div class="row text-center w-100 d-none d-md-block">
            <%= image_tag("iphone.gif", class: "open-form", width: "350", alt: "Phones header" ) %>
          </div>
          <div class="clock mx-auto"></div>
          <div class="py-2 text-center">
            <button class="btn btn-offers w-42 font-weight-bold"> GET DEAL NOW</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
