<!-- header-->
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <div class="container justify-content-center">
    <%= render 'layouts/header/header_logo' %>
  </div>
</nav>
<!--End header -->