<!-- Huge price Drops Section -->
<section class="mb-5">
  <div class="offers-background">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offer-padding text-white">
          <h1 class="fm_h">Huge Price Drops</h1>
          <% if @bc == true %>
            <p>Get the latest smartphones, Apple, Samsung, Huawei and many more with massive price drops. All Credit Scores Welcome, 100% approval, monthly payments, get accepted today.</p>
          <% else %>
            <p>Get the latest smartphones, Apple, Samsung, Huawei and many more with massive price drops. No upfront payments, Network Sign Up Offers, monthly payments, get accepted today.</p>
          <% end %>
        </div>
        <div class="col-md-4 low-price-div open-form" data-url="/success">
          <%= image_tag("low_price1.png", class: "low-price" ) %>
        </div>
      </div>
    </div>
  </div>
</section>

