<!--Month deal section-->
<section class="mb-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col open-form" data-url="/success">
        <div class="phone-details box-bg mb-3">
          <div class="promotion">Deal of the month</div>
          <div class="row details w-100 align-items-center">
            <div class="col-md-5 col">
              <div class="phone-img text-center">
                <%= image_tag("phone/iphone11-2.png") %>
              </div>
            </div>
            <div class="col px-0 mobile mobile-price">
              <div class="detail-box mt-4 px-4">
                <div class="row">
                  <div class="pl-2 col-md-3 col text-center border-bottom">

                    <% if @bc == true %>
                      <span class="text-muted fs-14 font-weight-normal">
                        All Credit Scores Welcome
                      </span>
                    <% end %>

                    <h6 class="font-weight-bold mb-0 mt-0 fs-24">£20</h6>
                    <span class="text-muted fs-14 font-weight-normal">
                      a month
                    </span>
                  </div>
                  <div class="pl-2 col-md-3 col text-center">
                    <h6 class="font-weight-bold mb-0 mt-2 fs-24">£0</h6>
                    <span class="text-muted fs-14 font-weight-normal">
                      Deposit from
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7 col px-0 desktop">
              <div class="option-button">
                <div class="row">
                  <div class="col">
                    <div>

                      <% if @bc == true %>
                        <small class="text-muted">All Credit Scores Welcome</small>
                      <% end %>
                      
                      <span class="bolder d-block mt-2">£20
                        <span class="text-muted fs-14 font-weight-normal">
                          a month
                        </span>
                      </span>
                    </div>
                    <hr>
                    <div class="upfront">
                      <div class="bold mb-2"> upfront</div>
                      <div class="call d-flex align-items-center mb-2 justify-content-around flex-wrap">
                        <button type="button" class="btn btn-outline-dark">
                          £0
                        </button>
                        <button type="button" class="btn btn-outline-dark">
                          £89
                        </button>
                      </div>
                    </div>
                    <div class="months">
                      <div class="bold mb-2"> Months</div>
                      <div class="call d-flex align-items-center mb-2 justify-content-around flex-wrap">
                        <button type="button" class="btn btn-outline-dark">
                          24
                        </button>
                        <button type="button" class="btn btn-outline-dark">
                          36
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <h5 class="font-weight-bold mb-0">
                iPhone 11 (64GB Black)
              </h5>
              <hr class="my-2">
              <div class="row">
                <div class="col">
                  <div class="call text-center border-right">
                     <i class="fas fa-phone-square-alt text-primary fs-26 ">
                     </i>
                    <h6 class="font-weight-bold mb-0 mt-2 fs-18">
                      Unlimited Call
                    </h6>
                  </div>
                </div>
                <div class="col border-right">
                  <div class="call text-center ">
                    <i class="fas fa-sms text-primary fs-26 "></i>
                    <h6 class="font-weight-bold mb-0 mt-2 fs-18">
                      Unlimited sms
                    </h6>
                  </div>
                </div>
                <div class="col">
                  <div class="call text-center ">
                    <i class="fas fa-signal text-primary fs-26 "></i>
                    <h6 class="font-weight-bold mb-0 mt-2 fs-18" >Unlimited Data
                    </h6>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col">
                  <div class="call text-center border-right">
                    <i class="fas fa-money-bill-alt text-primary fs-26 "></i>
                    <h6 class="font-weight-bold mb-0 mt-2 fs-18">
                      Pay Monthly
                    </h6>
                  </div>
                </div>
                <div class="col border-right">
                  <div class="call text-center ">
                    <i class="fas fa-credit-card text-primary fs-26 ">
                    </i>
                    <h6 class="font-weight-bold mb-0 mt-2 fs-18" >
                      Bad Credit
                    </h6>
                  </div>
                </div>
                <div class="col">
                  <div class="call text-center ">
                    <i class="fas fa-check-double text-primary fs-26 ">
                    </i>
                    <h6 class="font-weight-bold mb-0 mt-2 fs-18" >
                      100% Approvals
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-12">
              <button class="btn btn-primary o-btn open-form w-100">Get Deal</button>
            </div>
          </div>
        </div>
      </div>
<!-- second deal -->
      <div class=" col-md-6 col open-form" data-url="/success">
        <div class="phone-details box-bg">
          <div class="promotion">Deal of the month</div>
          <div class="row details w-100 align-items-center">
            <div class="col-md-5 col">
              <div class="phone-img text-center">
                <%= image_tag("sim/three-sim.png") %>
              </div>
            </div>
            <div class="col px-0 mobile mobile-price">
              <div class="detail-box mt-4 px-4">
                <div class="row">
                  <div class="pl-2 col-md-3 col text-center border-bottom">

                    <% if @bc == true %>
                      <span class="text-muted fs-14 font-weight-normal">
                        All Credit Scores Welcome
                      </span>
                    <% end %>
                    
                    <h6 class="font-weight-bold mb-0 mt-0 fs-24">50%</h6>
                    <span class="text-muted fs-14 font-weight-normal">
                      discount
                    </span>
                  </div>
                  <div class="pl-2 col-md-3 col text-center">
                    <h6 class="font-weight-bold mb-0 mt-2 fs-24">£0</h6>
                    <span class="text-muted fs-14 font-weight-normal">
                      Deposit from
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7 col px-0 desktop">
              <div class="option-button">
                <div class="row">
                  <div class="col">
                    <div>
                      <% if @bc == true %>
                        <small class="text-muted">All Credit Scores Welcome</small>
                      <% end %>
                      <span class="bolder d-block mt-2">50%
                        <span class="text-muted fs-14 font-weight-normal">Discount!</span>
                      </span>
                    </div>
                    <hr>
                    <div class="upfront">
                      <div class="bold mb-2"> upfront</div>
                       <div class="call d-flex align-items-center mb-2 justify-content-center flex-wrap">
                          <button type="button" class="btn btn-outline-dark">£0</button>
                       </div>
                    </div>
                    <div class="months">
                      <div class="bold mb-2"> Months</div>
                      <div class="call d-flex align-items-center mb-2 justify-content-center flex-wrap">
                        <button type="button" class="btn btn-outline-dark">24</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <h5 class="font-weight-bold mb-0">5G Sim Card</h5>
              <hr class="my-2">
              <div class="row">
                <div class="col">
                  <div class="call text-center border-right">
                     <i class="fas fa-phone-square-alt text-primary fs-26 "></i>
                    <h6 class="font-weight-bold mb-0 mt-2 fs-18"> Unlimited Call</h6>
                  </div>
                </div>
                <div class="col border-right">
                  <div class="call text-center ">
                     <i class="fas fa-sms text-primary fs-26 "></i>
                    <h6 class="font-weight-bold mb-0 mt-2 fs-18" >Unlimited sms</h6>
                  </div>
                </div>
                <div class="col">
                  <div class="call text-center ">
                    <i class="fas fa-signal text-primary fs-26 "></i>
                    <h6 class="font-weight-bold mb-0 mt-2 fs-18" >Unlimited Data
                    </h6>
                  </div>
                </div>
              </div>
                <hr>
              <div class="row">
                <div class="col">
                  <div class="call text-center border-right">
                     <i class="fas fa-money-bill-alt text-primary fs-26 "></i>
                    <h6 class="font-weight-bold mb-0 mt-2 fs-18">6 Months Half Price
                    </h6>
                  </div>
                </div>
                <div class="col border-right">
                  <div class="call text-center ">
                     <i class="fas fa-wifi text-primary fs-26"></i>
                    <h6 class="font-weight-bold mb-0 mt-2 fs-18" >5G Ready</h6>
                  </div>
                </div>
                <div class="col">
                  <div class="call text-center ">
                    <i class="fas fa-check-double text-primary fs-26"></i>
                    <h6 class="font-weight-bold mb-0 mt-2 fs-18" >100% Approvals
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12">
              <button class="btn btn-primary o-btn open-form w-100"> Get Deal</button>
            </div>
          </div>
        </div>
      <div>
    </div>
  </div>
</section>
